workflows/videos-without-ai/adapted-past-automation/YT - Stickman Video - Base.json
{
  "name": "YT - Stickman Video - Base",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        832,
        272
      ],
      "id": "7da655dc-43d7-4f1d-9c87-0efa40e26af7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41dbb125-072e-4959-91a0-cfc0a5cf93cc",
              "name": "idea",
              "value": "Tu salario no te hará rico",
              "type": "string"
            },
            {
              "id": "ebdff1e0-e39e-4600-99f4-e0cee79b96a0",
              "name": "folder_name",
              "value": "idea_00004",
              "type": "string"
            },
            {
              "id": "f029eebc-2f5b-44ac-8429-ec80d9e3ebf5",
              "name": "bg_music_id",
              "value": "1y2LLALP5IXLs9ldd6QbKVtTS5VHlFjOV",
              "type": "string"
            },
            {
              "id": "98c8e2cb-3874-420a-bd8b-d2a5c3c0a137",
              "name": "ideas_hub_folder_id",
              "value": "1hOc4TOJNJKiBjPOOy05zNAeSJDczLg7w",
              "type": "string"
            },
            {
              "id": "d975a375-9dc2-4ed6-a2c2-629bbd5f4d16",
              "name": "reference_folder_id",
              "value": "1yGIZpDnXI1oPpkqkCuCOnkfomZpVpV0n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        272
      ],
      "id": "5d74779b-d545-4d30-8188-a30fe9a9bf7d",
      "name": "Config"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config').item.json.idea }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🧠 PROMPT MAESTRO — GENERADOR DE MOTIVACIÓN DISRUPTIVA (ESTILO STICKMAN)\n\n---\n\n# 🎯 ROL DEL AGENTE\n\nEres una unidad narrativa experta en **psicología motivacional**, **storytelling viral** y **minimalismo visual**.\n\nTu misión es transformar la **IDEA_USUARIO** (Finanzas, Fitness, Propósito, Trabajo) en una **historia corta de alto impacto** protagonizada por un **stickman**.\n\nEstas historias están diseñadas para:\n\n* YouTube Shorts\n* TikTok\n* Instagram Reels\n\nObjetivo del contenido:\n\n* romper la resistencia mental del espectador\n* generar identificación inmediata\n* provocar acción o reflexión profunda\n\nEl espectador debe sentir que:\n\n* **el stickman es él**\n* la historia describe **su vida actual**\n* el cambio presentado es **difícil pero posible**\n\n---\n\n# 🚨 PRINCIPIO CLAVE — IDENTIFICACIÓN\n\nLa narración debe hablar **directamente al espectador**.\n\nEl stickman representa al espectador, por lo que el **voice over debe usar segunda persona (\"tú\")**.\n\nEl espectador debe sentir:\n\n* que la historia habla de **su situación**\n* que el problema le ocurre **a él**\n* que la transformación también puede ocurrirle\n\n---\n\n# 🧩 ESTRUCTURA NARRATIVA PROFESIONAL (4 ESCENAS)\n\nCada historia debe seguir esta progresión psicológica:\n\n```\nCuriosidad\n↓\nIdentificación\n↓\nContraste\n↓\nResultado inevitable\n```\n\n---\n\n## 1️⃣ Escena 1 — Hook interrogativo (Curiosity Hook)\n\nLa historia debe iniciar con **una pregunta directa al espectador**.\n\nObjetivo:\n\n* romper el patrón mental\n* generar curiosidad inmediata\n* introducir el tema\n\nReglas:\n\n* pregunta corta\n* dirigida al espectador\n* problema reconocible\n\nEjemplo:\n\n¿Crees que más salario te hará libre?\n\n---\n\n## 2️⃣ Escena 2 — Realidad común (Mass Behavior)\n\nDescribe el comportamiento típico de **la mayoría de personas**.\n\nObjetivo:\n\n* crear identificación\n* mostrar el patrón equivocado\n\nAquí se introduce **la masa**.\n\nEjemplo:\n\nPor eso trabajas más horas, esperando que el siguiente aumento cambie tu vida.\n\n---\n\n## 3️⃣ Escena 3 — Acción contraria (Contrarian Action)\n\nAquí ocurre el **cambio mental del protagonista**.\n\nSe introduce un contraste claro entre:\n\n* la masa\n* el protagonista\n\nUsar conectores como:\n\n* Pero\n* En cambio\n* Mientras\n* Entonces\n\nEjemplo:\n\nPero decides algo distinto: mientras otros gastan, tú empiezas a invertir.\n\n---\n\n## 4️⃣ Escena 4 — Resultado inevitable (Inevitable Outcome)\n\nEl final debe mostrar el **resultado natural e inevitable** de la acción anterior.\n\nDebe sentirse como **destino**.\n\nUsar estructuras como:\n\n* Y llegará el día…\n* Y un día ocurre…\n* Entonces sucede algo inevitable…\n\nEjemplo:\n\nY llegará el día: tu dinero trabajará por ti… mientras ellos siguen vendiendo su tiempo.\n\n---\n\n# 🎙️ REGLAS DEL VOICE OVER\n\nLa narración debe ser:\n\n* directa\n* natural\n* provocadora\n* emocionalmente clara\n\nRestricciones:\n\n* máximo **15 palabras por escena**\n* usar **segunda persona**\n* mantener **continuidad narrativa**\n\nLas escenas deben sentirse como **una única historia continua**, no frases separadas.\n\nUsar conectores naturales cuando sea necesario:\n\n* Pero\n* Por eso\n* Mientras\n* En cambio\n* Entonces\n* Y un día\n\nEvitar:\n\n* frases genéricas\n* lenguaje demasiado filosófico\n* ideas desconectadas entre escenas\n\n---\n\n# 🔥 REGLA DEL CIERRE (PUNCHLINE FINAL)\n\nEl cierre es la frase más importante del short.\n\nDebe ser:\n\n* corto\n* memorable\n* contundente\n\nCaracterísticas:\n\n* máximo **12 palabras**\n* mostrar contraste con la masa\n* proyectarse hacia el futuro\n\nFórmulas recomendadas:\n\n### Contraste\n\n```\nEllos siguen ___.\nTú ahora ___ .\n```\n\nEjemplo:\n\nEllos siguen vendiendo su tiempo. Tu dinero ahora trabaja por ti.\n\n---\n\n### Destino inevitable\n\n```\nY llegará el día: ___\n```\n\nEjemplo:\n\nY llegará el día: tu dinero trabajará por ti.\n\n---\n\nEvitar:\n\n* frases largas\n* lenguaje abstracto\n* palabras genéricas como \"poder absoluto\"\n\nEl cierre debe sentirse como **una verdad simple e inevitable**.\n\n---\n\n# 🎨 COHERENCIA VISUAL (ESTILO STICKMAN)\n\nEstilo visual:\n\n* stickman minimalista\n* líneas negras\n* fondo blanco o negro\n\nSolo **un elemento puede tener color** para dirigir la atención.\n\nEjemplos:\n\n| Color  | Significado |\n| ------ | ----------- |\n| verde  | dinero      |\n| rojo   | esfuerzo    |\n| dorado | éxito       |\n| azul   | claridad    |\n\n---\n\n# 🎬 NARRACIÓN VISUAL\n\nLos prompts visuales deben **representar literalmente el voice over**.\n\nLos campos `image_prompt` y `video_prompt` deben:\n\n* mostrar la acción descrita\n* ser simples y claros\n* mantener el estilo stickman minimalista\n\nFormato vertical obligatorio:\n\nVertical 9:16\n\n---\n\n# 📦 FORMATO DE SALIDA — JSON ESTRICTO\n\nResponde **exclusivamente** con el siguiente formato JSON:\n\n```json\n{\n  \"categoria_short\": \"motivacion_stickman\",\n  \"premisa_viral\": \"Hook narrativo principal\",\n  \"narrative_arc\": [\n    {\n      \"step\": 1,\n      \"label\": \"Hook interrogativo\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {},\n      \"video_prompt\": {}\n    },\n    {\n      \"step\": 2,\n      \"label\": \"Realidad común\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {},\n      \"video_prompt\": {}\n    },\n    {\n      \"step\": 3,\n      \"label\": \"Acción contraria\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {},\n      \"video_prompt\": {}\n    },\n    {\n      \"step\": 4,\n      \"label\": \"Resultado inevitable\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {},\n      \"video_prompt\": {}\n    }\n  ]\n}\n```\n\n---\n\n💡 **Uso del prompt**\n\nEntrada esperada:\n\n```\nIDEA_USUARIO: \"Tu salario no te hará rico\"\n```\n\nEl sistema debe transformar esa idea en una narrativa completa siguiendo las reglas anteriores.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1840,
        480
      ],
      "id": "cefe847b-c595-4bbb-98bb-61248959c39b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1840,
        272
      ],
      "id": "699b465f-a458-4712-82b1-f53203484b4d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DY9eunBbIenrdjl7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"categoria_short\": \"terror_creepypasta\",\n  \"premisa_viral\": \"Hook narrativo creepypasta (ej: 'Esto le pasó a alguien…', 'Nunca hagas esto…', 'Pensé que estaba solo…').\",\n  \"narrative_arc\": [\n    {\n      \"step\": 1,\n      \"label\": \"The Hook\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"[Humanoid skeleton character, pose, clothing or objects relevant to the scene]\",\n        \"environment\": \"[Environment and atmosphere consistent with the scene]\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"[Physical movement interacting with environment]\",\n        \"acting\": \"[Bone inertia, subtle hesitation, human-like intention]\",\n        \"physics_vfx\": \"[Particles, dust, fluids, collision simulation]\",\n        \"camera\": \"[Dynamic cinematic camera path]\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    },\n    {\n      \"step\": 2,\n      \"label\": \"The Escalation\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"\",\n        \"environment\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"\",\n        \"acting\": \"\",\n        \"physics_vfx\": \"\",\n        \"camera\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    },\n    {\n      \"step\": 3,\n      \"label\": \"The Chaos\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"\",\n        \"environment\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"\",\n        \"acting\": \"\",\n        \"physics_vfx\": \"\",\n        \"camera\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    },\n    {\n      \"step\": 4,\n      \"label\": \"The Conclusion\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"\",\n        \"environment\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"\",\n        \"acting\": \"\",\n        \"physics_vfx\": \"\",\n        \"camera\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1984,
        272
      ],
      "id": "f094b8d6-4633-4ca9-aa40-3a4ff5486168",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        768
      ],
      "id": "a9bd8d23-bbfc-4eb7-9574-b673aba07d71",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## Drive Setup",
        "height": 464,
        "width": 608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        192
      ],
      "typeVersion": 1,
      "id": "d36390d1-68ee-4d0b-8ce0-73d45fc60c6e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Scenes Generator",
        "height": 464,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        192
      ],
      "typeVersion": 1,
      "id": "5cfe44e5-87c4-44c6-ba18-c356a0b02846",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Content",
        "height": 688,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        688
      ],
      "typeVersion": 1,
      "id": "9d1ecfa3-54a8-4aa1-80ba-e472f57701ec",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Config').item.json.folder_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Config').item.json.ideas_hub_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        272
      ],
      "id": "1dc0a244-c61c-4d8f-b6f5-b088a42896a9",
      "name": "Create idea folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3KBOJ1La4MtGkVbB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=images",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        272
      ],
      "id": "f433ce20-8050-43cd-a966-4282ffa644f1",
      "name": "Create images folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3KBOJ1La4MtGkVbB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=videos",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        480
      ],
      "id": "4f760db1-6b1d-4b2a-8155-067e3cfd6cc6",
      "name": "Create videos folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3KBOJ1La4MtGkVbB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TZIpfSX5xWwpXRNX",
          "mode": "list",
          "cachedResultUrl": "/workflow/TZIpfSX5xWwpXRNX",
          "cachedResultName": "YT  - FFmpeg - Combine Videos Simple"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input_folder_id": "={{ $('Create narrated videos folder').item.json.id }}",
            "output_folder_id": "={{ $('Create merged video folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input_folder_id",
              "displayName": "input_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        768
      ],
      "id": "4d1f6577-e2c4-4c6a-a860-24213743c97a",
      "name": "Call 'YT  - FFmpeg - Combine Videos Simple'",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const input = $('AI Agent').first().json;\n\n// Mapeamos el arco narrativo para que n8n cree 4 ejecuciones independientes\nreturn input.output.narrative_arc.map((scene, index) => {\n  const step = index + 1;\n\n  return {\n    json: {\n      image_id: `image_step${step}`,\n      // Enviamos el objeto image_prompt completo convertido a String JSON\n      image_prompt: JSON.stringify(scene.image_prompt),\n      \n      audio_id: `audio_step${step}`,\n      // El prompt de audio suele ser el texto del Voice Over\n      audio_prompt: scene.voice_over, \n      \n      video_id: `video_step${step}`,\n      // Enviamos el objeto video_prompt completo convertido a String JSON\n      video_prompt: JSON.stringify(scene.video_prompt),\n    }\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        480
      ],
      "id": "b34424f6-08aa-4da7-bf6f-69466aa6a0a3",
      "name": "Separate scenes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        784
      ],
      "id": "fb81dff0-6ee6-46ce-abc5-c7cd5395d7c3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "meN2HXwaG5UMWmWx",
          "mode": "list",
          "cachedResultUrl": "/workflow/meN2HXwaG5UMWmWx",
          "cachedResultName": "YT - Image Style Reference"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_prompt": "={{ $('Loop Over Items').item.json.image_prompt }}",
            "folder_reference_id": "={{ $('Config').item.json.reference_folder_id }}",
            "filename_output": "={{ $('Loop Over Items').item.json.image_id }}",
            "folder_output_id": "={{ $('Create images folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folder_reference_id",
              "displayName": "folder_reference_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename_output",
              "displayName": "filename_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folder_output_id",
              "displayName": "folder_output_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1040,
        992
      ],
      "id": "7d0b5f1c-e282-4d6f-9698-9f7fdd0802e3",
      "name": "Call 'YT - Image Style Reference'",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ekuV59NIfkjYTEP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/ekuV59NIfkjYTEP4",
          "cachedResultName": "YT - Text to Voice"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $('Loop Over Items').item.json.audio_prompt }}",
            "file_name": "={{ $('Loop Over Items').item.json.audio_id }}",
            "output_folder_id": "={{ $('Create audios folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        992
      ],
      "id": "56f8e947-4224-46cb-b94d-35eb9769be19",
      "name": "Call 'YT - Text to Voice'",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=audios",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        272
      ],
      "id": "603caee1-c781-4d00-8a11-961b1aaf660a",
      "name": "Create audios folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3KBOJ1La4MtGkVbB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=merged_video",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        480
      ],
      "id": "f10814c1-5ccf-4340-ba3a-79beeb41a3db",
      "name": "Create merged video folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3KBOJ1La4MtGkVbB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cNAMtJnxYddr7Gn8",
          "mode": "list",
          "cachedResultUrl": "/workflow/cNAMtJnxYddr7Gn8",
          "cachedResultName": "YT - Image to Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('Loop Over Items').item.json.video_prompt }}",
            "image_id": "={{ $('Call \\'YT - Image Style Reference\\'').item.json.output.id }}",
            "filename_output": "={{ $('Loop Over Items').item.json.video_id }}",
            "folder_output_id": "={{ $('Create videos folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_id",
              "displayName": "image_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename_output",
              "displayName": "filename_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folder_output_id",
              "displayName": "folder_output_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1424,
        1200
      ],
      "id": "41717c91-47b1-421f-a4cb-4b0c08d5028c",
      "name": "Call 'YT - Image to Video'",
      "retryOnFail": true,
      "maxTries": 2,
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZG72S67igS5henmg",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZG72S67igS5henmg",
          "cachedResultName": "YT - Combine Video With Voice"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Call \\'YT - FFmpeg - Image and Audio to Video\\'').item.json.id }}",
            "voice_id": "={{ $('Call \\'YT - Text to Voice\\'').item.json.id }}",
            "output_folder_id": "={{ $('Create narrated videos folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "voice_id",
              "displayName": "voice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1616,
        992
      ],
      "id": "28d6a9fd-8a7e-43c9-aa89-30629ed643d3",
      "name": "Call 'YT - Combine Video With Voice'",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=narrated_video",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        480
      ],
      "id": "2cc148ff-d3d9-4032-8b5d-79516eda3c49",
      "name": "Create narrated videos folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3KBOJ1La4MtGkVbB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Config",
        "height": 464,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        192
      ],
      "typeVersion": 1,
      "id": "a1214563-af83-4ae4-ae8b-838f48a577b6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tMF1JVKlgYmlRj7M",
          "mode": "list",
          "cachedResultUrl": "/workflow/tMF1JVKlgYmlRj7M",
          "cachedResultName": "YT  - FFmpeg - Mix Video & Audio"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input_video_id": "={{ $('Call \\'YT  - FFmpeg - Combine Videos Simple\\'').item.json.output.id }}",
            "output_folder_id": "={{ $('Create merged video folder').item.json.id }}",
            "input_audio_id": "={{ $('Config').item.json.bg_music_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input_video_id",
              "displayName": "input_video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_audio_id",
              "displayName": "input_audio_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1424,
        768
      ],
      "id": "423c11dc-985a-467e-ae03-28baed90ff5b",
      "name": "Call 'YT  - FFmpeg - Mix Video & Audio'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZudS9djxJb9CqLUj",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZudS9djxJb9CqLUj",
          "cachedResultName": "YT - Add Subtitles to video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Call \\'YT  - FFmpeg - Mix Video & Audio\\'').item.json.output.id }}",
            "output_folder_id": "={{ $('Create merged video folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1616,
        768
      ],
      "id": "6709859a-8f2e-4e23-a230-759046e51069",
      "name": "Call 'YT - Add Subtitles to video'"
    },
    {
      "parameters": {
        "content": "## 🎬 YT - Stickman Video - Base\n\nFlujo semi-automático para crear vídeos minimalistas de stickman a partir de una idea personalizada.\n\n### ⚙️ Configuración rápida\n1. Importa los flujos de soporte (Image Style, Text to Voice, Video Assembly).\n2. Nodo **Config**:\n* `idea` → El concepto central del video (ej: \"Tu salario no te hará rico\").\n* `folder_name` → Nombre de la carpeta en Google Drive.\n* `bg_music_id` → ID del archivo de música de fondo en Google Drive.\n* `ideas_hub_folder_id` → ID de la carpeta donde se crearán los proyectos.\n* `reference_folder_id` → ID de la carpeta que contiene las imágenes de referencia de estilo.\n👉 Asegúrate de tener las credenciales de Gemini y Drive activas.\n\n### 🧠 Qué hace el flujo\n* Transforma una idea en un arco narrativo de 4 escenas mediante un AI Agent.\n* Genera assets (imágenes, voz, video) en paralelo para cada escena.\n* Ensambla el contenido final con música de fondo en una carpeta organizada.\n\n### 📺 Guía en video\n👉 [youtu.be/WTDUC0dgPjY](https://youtu.be/WTDUC0dgPjY)\n\n### 🔔 Más automatizaciones\n👉 [Hans Acha](https://www.youtube.com/@Hans-Acha)\n",
        "height": 992,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        192
      ],
      "typeVersion": 1,
      "id": "1b8df36f-a5c3-4a40-b7bb-ef12cc1f561c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rAd1Lm9M0x0CphLd",
          "mode": "list",
          "cachedResultUrl": "/workflow/rAd1Lm9M0x0CphLd",
          "cachedResultName": "YT - FFmpeg - Image and Audio to Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input_audio_id": "={{ $('Call \\'YT - Text to Voice\\'').item.json.id }}",
            "input_image_id": "={{ $('Call \\'YT - Image Style Reference\\'').item.json.output.id }}",
            "output_folder_id": "={{ $('Create videos folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input_audio_id",
              "displayName": "input_audio_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_image_id",
              "displayName": "input_image_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1424,
        992
      ],
      "id": "56b4d133-7d66-46e1-a813-930f07e425ac",
      "name": "Call 'YT - FFmpeg - Image and Audio to Video'"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Create idea folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Separate scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Call 'YT  - FFmpeg - Combine Videos Simple'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create idea folder": {
      "main": [
        [
          {
            "node": "Create images folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create images folder": {
      "main": [
        [
          {
            "node": "Create audios folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create videos folder": {
      "main": [
        [
          {
            "node": "Create narrated videos folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT  - FFmpeg - Combine Videos Simple'": {
      "main": [
        [
          {
            "node": "Call 'YT  - FFmpeg - Mix Video & Audio'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate scenes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'YT - Image Style Reference'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - Image Style Reference'": {
      "main": [
        [
          {
            "node": "Call 'YT - Text to Voice'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - Text to Voice'": {
      "main": [
        [
          {
            "node": "Call 'YT - FFmpeg - Image and Audio to Video'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create audios folder": {
      "main": [
        [
          {
            "node": "Create videos folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create merged video folder": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - Image to Video'": {
      "main": [
        []
      ]
    },
    "Call 'YT - Combine Video With Voice'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create narrated videos folder": {
      "main": [
        [
          {
            "node": "Create merged video folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT  - FFmpeg - Mix Video & Audio'": {
      "main": [
        [
          {
            "node": "Call 'YT - Add Subtitles to video'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - FFmpeg - Image and Audio to Video'": {
      "main": [
        [
          {
            "node": "Call 'YT - Combine Video With Voice'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a9b08d45-dce8-4b1b-9be7-a7d8c217f694",
  "meta": {
    "instanceId": "b8b926503e69b4d6452ef4997e517f018d779566da930bb3e134ea773821cffd"
  },
  "id": "PVHsLKwt7lYKtne1",
  "tags": []
}