workflows/n8n-backups/YT - n8n - Load Workflows and Credentials.json
{
  "name": "YT - n8n - Load Workflows and Credentials",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        368
      ],
      "id": "f554671c-ddc2-4d74-8c1e-2314ab1cc0d2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $('Extract Workflow JSON data').item.json.data.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        976,
        64
      ],
      "id": "8e3ddf2c-d091-4f3d-bae0-af6089a0b364",
      "name": "Create a workflow from backup",
      "credentials": {
        "n8nApi": {
          "id": "h9DrrpIxpo9iookS",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "19lPuqH6E4KWQvIw_-KzWPojgHgkBYOQv",
            "mode": "list",
            "cachedResultName": "n8n-workflows-backup-2025-12-03T23:04:02.225-05:00",
            "cachedResultUrl": "https://drive.google.com/drive/folders/19lPuqH6E4KWQvIw_-KzWPojgHgkBYOQv"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        128
      ],
      "id": "d26a26cf-5e59-4202-b140-8e541070d8af",
      "name": "Get Workflow Backup Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Get Workflow Backup Files' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        128
      ],
      "id": "db0e7d4a-2180-4c66-a2e8-557147fa040a",
      "name": "Loop Over Workflows"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1seb9RuAeHvYfDOwPnjD5HQvMWQUreTQD",
            "mode": "list",
            "cachedResultName": "n8n-credentials-backup-2025-12-04T00:30:30.556-05:00",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1seb9RuAeHvYfDOwPnjD5HQvMWQUreTQD"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        608
      ],
      "id": "fcf26f2d-a155-4afc-a37c-f66da688a12a",
      "name": "Get Credential Backup Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Workflows').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $('Loop Over Workflows').item.json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        64
      ],
      "id": "e1997920-9b30-4d44-b348-744b6b11097b",
      "name": "Download workflow file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Credentials').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $('Loop Over Credentials').item.json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        464
      ],
      "id": "ea9fa335-8e5f-4176-8303-0599c7eb99d7",
      "name": "Download credential file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Get Credential Backup Files' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        608
      ],
      "id": "17b43849-5dd6-440c-949b-cc7fdd74952e",
      "name": "Loop Over Credentials"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        752,
        64
      ],
      "id": "3cf907fb-3706-4c7e-902f-20b38ce5383b",
      "name": "Extract Workflow JSON data"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        752,
        464
      ],
      "id": "926cc6a4-2553-42f0-b645-4da8e31d639a",
      "name": "Extract Credential JSON data"
    },
    {
      "parameters": {
        "resource": "credential",
        "name": "=backup {{ $('Extract Credential JSON data').item.json.data.name }}",
        "credentialTypeName": "={{ $('Extract Credential JSON data').item.json.data.type }}",
        "data": "={{ $('Extract Credential JSON data').item.json.data.data.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        976,
        528
      ],
      "id": "d44c4c76-0e35-4990-a15c-82820e77e131",
      "name": "Create a credential from backup",
      "credentials": {
        "n8nApi": {
          "id": "h9DrrpIxpo9iookS",
          "name": "n8n account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        128
      ],
      "id": "9f85c773-b6e6-442b-8f4f-bdc0e59cbc39",
      "name": "Wait Worflow Load",
      "webhookId": "bdeb5560-e7c3-430e-999e-1ba54f936899"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        608
      ],
      "id": "d72d596f-42f9-421a-bd95-62227a178da4",
      "name": "Wait Credential Load",
      "webhookId": "bdeb5560-e7c3-430e-999e-1ba54f936899"
    },
    {
      "parameters": {
        "content": "## Load Workflows",
        "height": 368,
        "width": 1408,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "3aa2a7ce-cace-47a1-b8c1-2fcdd01d91ca",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Load Credentials (not all)",
        "height": 416,
        "width": 1408,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        416
      ],
      "typeVersion": 1,
      "id": "04c7f222-64eb-4a77-bfc6-413b99c6a792",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ⚙️ Configuración\n\n1. **Actualiza** las credenciales de los nodos de **Drive**\n2. Selecciona los backup folders para workflow y credentials en **Google Drive** nodos\n3. Genera tu **n8n API key**\n4. **Actualiza** las credenciales de los nodos de **n8n**\n\n---\n\n📺 Puedes guiarte con este video:  \n👉 [Cómo configurar paso a paso](https://youtu.be/PMp11vf3n8c)  \n\n🔔 Además, tienes más **video-guías completas** en mi canal de YouTube:  \n👉 [Hans Acha – Canal Oficial](https://www.youtube.com/@Hans-Acha)\n",
        "height": 416,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        0
      ],
      "typeVersion": 1,
      "id": "23f539a1-fb25-4fb2-9337-3cb1685f1cd4",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Credential Backup Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Workflow Backup Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a workflow from backup": {
      "main": [
        [
          {
            "node": "Wait Worflow Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Backup Files": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Workflows": {
      "main": [
        [],
        [
          {
            "node": "Download workflow file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Credential Backup Files": {
      "main": [
        [
          {
            "node": "Loop Over Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download workflow file": {
      "main": [
        [
          {
            "node": "Extract Workflow JSON data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Credentials": {
      "main": [
        [],
        [
          {
            "node": "Download credential file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Workflow JSON data": {
      "main": [
        [
          {
            "node": "Create a workflow from backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download credential file": {
      "main": [
        [
          {
            "node": "Extract Credential JSON data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Credential JSON data": {
      "main": [
        [
          {
            "node": "Create a credential from backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Worflow Load": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a credential from backup": {
      "main": [
        [
          {
            "node": "Wait Credential Load",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Credential Load": {
      "main": [
        [
          {
            "node": "Loop Over Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "281a9875-b85c-4b29-8f19-f0924456a8b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87133338b76165c0c00cd3bca160984371f1bfef9b461d628efd43cae8813df6"
  },
  "id": "hObSFZBdojcl4Ksy",
  "tags": []
}