workflows/n8n-backups/YT - n8n - Backup Wrokflows and Credentials.json
{
  "name": "YT - n8n - Backup Wrokflows and Credentials",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1728,
        48
      ],
      "id": "f7fdd2da-aa4b-402a-a626-de77e733d41c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "command": "=npx n8n export:credentials --backup --all --decrypted --output {{ $('Credentials Path').item.json.path }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1056,
        192
      ],
      "id": "f4f85913-f0b0-4915-bb1a-53178fb2cc8f",
      "name": "Export Credentials"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45500e7e-ae5a-4170-8e31-fef2b17d4fac",
              "name": "path",
              "value": "project/credentials/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        192
      ],
      "id": "1082293f-cc1b-4f59-a1e6-ae45428ca4ac",
      "name": "Credentials Path"
    },
    {
      "parameters": {
        "fileSelector": "=./{{ $('Credentials Path').item.json.path }}*.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -832,
        192
      ],
      "id": "97662b80-491c-4ef2-880c-0f7770a826a5",
      "name": "Read Credentials"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Read Workflows' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        192
      ],
      "id": "14eed94c-5633-4440-92db-949f57eaaed5",
      "name": "Loop Credentials"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -384,
        112
      ],
      "id": "da003959-f17c-4083-87ea-69feeb80f78b",
      "name": "Extract Credential from File"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Loop Credentials').item.binary.data }}",
        "name": "={{ $('Credential Filename').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Credentials backup folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        112
      ],
      "id": "f31bbc92-e4a9-45fa-b60a-f641aa64a5ec",
      "name": "Upload credential",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5007b097-71e9-4680-9b43-da6dffae494a",
              "name": "filename",
              "value": "={{ $('Extract Credential from File').item.json.data.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        112
      ],
      "id": "aba64ad5-99e4-4e68-a232-ea5a132024c8",
      "name": "Credential Filename"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        192
      ],
      "id": "575554d9-4706-43ff-89d9-0d6cdb7d0a0b",
      "name": "Wait Credential load",
      "webhookId": "45c54c5f-b661-47ad-aa11-0c59732bd3a8"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=n8n-credentials-backup-{{ $now.toString() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1hOAZH2ZkFkuUKKlkZNmrpPmXvvwSrxPG",
          "mode": "list",
          "cachedResultName": "Credentials_Backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hOAZH2ZkFkuUKKlkZNmrpPmXvvwSrxPG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        192
      ],
      "id": "617e6820-a3ee-44a7-935e-9de43aaf9d10",
      "name": "Create Credentials backup folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Loop Over Workflows').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -288
      ],
      "id": "7c7cae9e-75d4-4050-9202-bc76fd84c674",
      "name": "JSON workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5007b097-71e9-4680-9b43-da6dffae494a",
              "name": "filename",
              "value": "={{ $('Loop Over Workflows').item.json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -288
      ],
      "id": "46fd72ce-9674-44bb-88d4-6fb79b4c11db",
      "name": "Workflow Filename"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "={{ $('Workflow Filename').item.json.filename }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        -288
      ],
      "id": "ed08ec22-62c9-45ae-9f56-62ca7192c421",
      "name": "Convert Workflow JSON to File"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Filter non Archived Workflows' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -832,
        -224
      ],
      "id": "cdbe9fc7-aa99-44c2-8cc3-18bbbcfd87b1",
      "name": "Loop Over Workflows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3952562-8cf1-4cb2-a46c-2251f4b26f82",
              "leftValue": "={{ $('Get Workflows').item.json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -224
      ],
      "id": "5416cb99-b82a-45a4-b4d7-412db4325e38",
      "name": "Filter non Archived Workflows"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=n8n-workflows-backup-{{ $now.toString() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1l827H1Wby1OoSGXEenEv_WrVnx_JTH_M",
          "mode": "list",
          "cachedResultName": "Workflows_Backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1l827H1Wby1OoSGXEenEv_WrVnx_JTH_M"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        -224
      ],
      "id": "e45c9cef-3ac1-46d6-bf31-e862541ceeac",
      "name": "Create Workflows backup folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        -224
      ],
      "id": "a91c2f65-6401-47d6-94f4-8e4bbd6ab606",
      "name": "Wait",
      "webhookId": "6e8463d1-9154-43ad-8c00-9e8f19dd3799"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1280,
        -224
      ],
      "id": "f8ab10b6-a140-4cf6-89c0-b9d739612720",
      "name": "Get Workflows",
      "credentials": {
        "n8nApi": {
          "id": "h9DrrpIxpo9iookS",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Workflow Filename').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Workflows backup folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        -288
      ],
      "id": "a1ee2875-60a2-4b34-8a6c-832fa5544972",
      "name": "Upload workflow",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Bakup Workflows",
        "height": 368,
        "width": 2000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1552,
        -368
      ],
      "typeVersion": 1,
      "id": "39ac1eda-0e53-4e1c-918c-b6b067339dc5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Bakup Credentials",
        "height": 368,
        "width": 2000,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1552,
        48
      ],
      "typeVersion": 1,
      "id": "b84cf274-6cc4-4844-ad2e-b383f06c6e46",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Workflows backup folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Credentials backup folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Credentials": {
      "main": [
        [
          {
            "node": "Read Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Path": {
      "main": [
        [
          {
            "node": "Export Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Credentials": {
      "main": [
        [
          {
            "node": "Loop Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Credentials": {
      "main": [
        [],
        [
          {
            "node": "Extract Credential from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Credential from File": {
      "main": [
        [
          {
            "node": "Credential Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credential Filename": {
      "main": [
        [
          {
            "node": "Upload credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload credential": {
      "main": [
        [
          {
            "node": "Wait Credential load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Credential load": {
      "main": [
        [
          {
            "node": "Loop Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Credentials backup folder": {
      "main": [
        [
          {
            "node": "Credentials Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Filename": {
      "main": [
        [
          {
            "node": "JSON workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON workflow": {
      "main": [
        [
          {
            "node": "Convert Workflow JSON to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Workflows": {
      "main": [
        [],
        [
          {
            "node": "Workflow Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter non Archived Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflows backup folder": {
      "main": [
        [
          {
            "node": "Get Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Workflow JSON to File": {
      "main": [
        [
          {
            "node": "Upload workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows": {
      "main": [
        [
          {
            "node": "Filter non Archived Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8467730-4263-4ce5-93e3-c0a3263ea044",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87133338b76165c0c00cd3bca160984371f1bfef9b461d628efd43cae8813df6"
  },
  "id": "kcfoKChH3R68dFxr",
  "tags": []
}