workflows/conversaciones-depurator-backup/YT - Depurador de mensajes.json
{
  "name": "YT - Depurador de mensajes",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        96,
        128
      ],
      "id": "250b1e23-3042-44be-ad32-c164c20e3afe",
      "name": "When chat message received",
      "webhookId": "addfe574-7a6d-486e-a287-3a5700e5d392"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        128
      ],
      "id": "7c689afc-c3f2-4e2c-896e-e1db420373a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        352
      ],
      "id": "44b82774-c8b7-4e28-a550-64b5d57c5dbf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CJp5VijgPVJDBcEc",
          "name": "Own Credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        464,
        352
      ],
      "id": "7d08acec-c5eb-44b3-9cd0-b8a4b5acb6d8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "f4LjmMiXWt93U9Vj",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        688
      ],
      "id": "22e734ef-a25c-4e0b-a59d-c48ae05cf3fe",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "f4LjmMiXWt93U9Vj",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "content": "## Asistente Basico",
        "height": 512,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "804131ca-40b7-42a1-9107-7b5ca3f420d1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Añadir tiempo de creacion (1 vez por tabla)",
        "height": 272,
        "width": 736,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        912
      ],
      "typeVersion": 1,
      "id": "68f4aedf-fc86-4490-94ba-bebbf0af12c5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Cambiar `n8n_chat_histories` por el nombre de la tabla que manejes\nALTER TABLE n8n_chat_histories\nADD COLUMN created_at TIMESTAMP NOT NULL DEFAULT NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        1008
      ],
      "id": "5c3cd122-94c2-4d11-80a6-375aa1659cc9",
      "name": "Add created time",
      "credentials": {
        "postgres": {
          "id": "f4LjmMiXWt93U9Vj",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ver datos de una tabla",
        "height": 272,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        592
      ],
      "typeVersion": 1,
      "id": "3c763b4c-ead0-49f0-a74d-dc74d220753d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Cron Depurador de datos",
        "height": 272,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1248
      ],
      "typeVersion": 1,
      "id": "d22f84f1-c58d-49de-848e-a746a80f81b9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        1344
      ],
      "id": "f6377aa4-9123-4f61-bd1e-d96b3bdd545f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79a4ef03-b6bc-4bfd-9bd4-febc1f8b088e",
              "name": "days_before",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        1344
      ],
      "id": "7d3b04cd-1452-4e04-b343-fdabf0477bbf",
      "name": "Days before"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Cambiar `n8n_chat_histories` por el nombre de la tabla que manejes\n\nDELETE FROM public.n8n_chat_histories\nWHERE created_at < NOW() - INTERVAL '{{ $json.days_before }} days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        1344
      ],
      "id": "4680ce72-9f37-41a3-bcd6-a7aeee88030b",
      "name": "Delete history",
      "credentials": {
        "postgres": {
          "id": "f4LjmMiXWt93U9Vj",
          "name": "Local Postgres"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Days before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Days before": {
      "main": [
        [
          {
            "node": "Delete history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f126967-8a9f-4e1b-9d03-b2f5b3b732e1",
  "meta": {
    "instanceId": "87133338b76165c0c00cd3bca160984371f1bfef9b461d628efd43cae8813df6"
  },
  "id": "QYtt1PyxTOEwxvNT",
  "tags": []
}