workflows/basic-short-automation/YT - Simple Video Automation - Not Supervised.json
{
  "name": "YT - Simple Video Automation - Not Supervised",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"output\": {\n    \"scene\": \"Dos personas en la entrada de un edificio, discutiendo en voz baja junto a una puerta entreabierta\",\n    \"time_of_day\": \"night\",\n    \"environment_type\": \"exterior\",\n    \"style\": \"ultra-realistic cinematic\",\n    \"camera\": {\n      \"shot_type\": \"handheld\",\n      \"lens_framing\": \"plano medio a la altura de los ojos, enfoque natural\",\n      \"movement\": \"ligero temblor de mano, pequeña corrección de encuadre\"\n    },\n    \"characters\": [\n      {\n        \"id\": \"c1\",\n        \"name\": \"Persona 1\",\n        \"description\": \"30s, chaqueta oscura, mirada intensa y tensa\"\n      },\n      {\n        \"id\": \"c2\",\n        \"name\": \"Persona 2\",\n        \"description\": \"20s, hoodie claro, evita la mirada, nervioso\"\n      }\n    ],\n    \"dialogue\": [\n      {\n        \"character_id\": \"c1\",\n        \"line\": \"Dime la verdad, ya.\"\n      },\n      {\n        \"character_id\": \"c2\",\n        \"line\": \"No era mi intención…\"\n      }\n    ],\n    \"action\": \"Persona 1 se acerca medio paso; Persona 2 retrocede y traga saliva; la puerta se mueve levemente\",\n    \"audio\": \"tráfico distante, zumbido de un foco, pasos lejanos\",\n    \"background\": \"una entrada con luz tenue, pared de concreto y un pasillo oscuro al fondo\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        592
      ],
      "id": "b5751a37-e4bd-4cc3-8698-f56c60086a14",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Estrcutura de la idea:\n{{ $('Idea').item.json.idea }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres un agente de IA que convierte una IDEA (simple o compleja)\nen parámetros listos para generar un video de 8 segundos con Google VEO 3.\n\nInput: idea del usuario\n\nObjetivo:\n- Convertir la idea en UNA SOLA ESCENA filmable en 8 segundos.\n- Permitir múltiples personajes.\n- Generar un diálogo corto en forma de lista, asignando cada línea a un personaje. (opcional)\n- Elige el tipo de cámara según la idea.\n\nReglas de compatibilidad (OBLIGATORIO):\n- 8 segundos\n- UNA sola escena (sin cortes, sin transiciones, sin cambio de lugar/tiempo)\n- Acción simple y clara (un “momento”)\n- Diálogo total muy corto (ideal 1–4 líneas en total)\n- Todo debe ser coherente y filmable en tiempo real\n\nRespeta instrucciones explícitas del usuario:\n- Si el usuario define personajes, diálogo o estilo, úsalo.\n- Si hay demasiadas escenas/acciones, comprímelo a un único instante clave.\n- Si falta información, completa con detalles realistas y coherentes.\n\nDevuelve ÚNICAMENTE un JSON válido con esta estructura exacta:\n\n{\n  \"output\": {\n    \"scene\": \"\",\n    \"time_of_day\": \"day|night|dusk|dawn\",\n    \"environment_type\": \"interior|exterior\",\n    \"style\": \"\",\n    \"camera\": {\n      \"shot_type\": \"\",\n      \"lens_framing\": \"\",\n      \"movement\": \"\"\n    },\n    \"characters\": [\n      {\n        \"id\": \"c1\",\n        \"name\": \"\",\n        \"description\": \"\"\n      }\n    ],\n    \"dialogue\": [\n      {\n        \"character_id\": \"c1\",\n        \"line\": \"\"\n      }\n    ],\n    \"action\": \"\",\n    \"audio\": \"\",\n    \"background\": \"\"\n  }\n}\n\nDefinición de campos:\n- scene: lugar + situación en una sola frase clara\n- style: estilo visual (si el usuario no especifica, usa \"ultra-realistic cinematic\")\n- camera.shot_type: ejemplo \"POV\", \"handheld\", \"tripod\", \"security cam\", \"over-the-shoulder\", \"medium shot\"\n- camera.lens_framing: encuadre (primer plano, plano medio, plano general) + detalles realistas\n- camera.movement: movimiento suave y realista (ligero temblor, paneo lento, etc.)\n- characters: lista de personajes (mínimo 1). description: edad aprox, ropa, expresión/actitud\n- dialogue: lista de líneas cortas. Máximo recomendado 1–4 líneas total\n- action: acción principal breve + microgesto(s)\n- audio: sonidos ambientales naturales (sin música)\n- background: lo que se ve detrás, coherente con la escena\n\nReglas estrictas:\n- No pongas texto fuera del JSON\n- No inventes elementos que contradigan la idea del usuario\n- No agregues cortes o múltiples escenas\n- Mantén el diálogo corto y natural\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        368
      ],
      "id": "a72a84b3-cc7f-40d6-9367-60e4fbadbad0",
      "name": "Video Strcuture Generator"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "Describe el video de tal forma que me detalle todo el contenido",
        "videoUrls": "={{ $('Switch').item.json['Video Url'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        464
      ],
      "id": "2d31e3cd-9a22-4c36-93be-094b34064575",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "pOulU84R26R4pD5U",
          "name": "Hans Acha Prod - Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc",
          "mode": "list",
          "cachedResultName": "Simple Video Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1605010118,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc/edit#gid=1605010118"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        368
      ],
      "id": "6f39e4e2-55fa-4789-b5b4-684977b9c9f5",
      "name": "Total Ideas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7h5GUO4vnqiS6fGb",
          "name": "Hans Acha Brand - Google Sheet Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Idea_{{ $('Total Ideas').item.json.total+1 }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "16yiaNCrXkD4MNq4rrgigTlibjqKJbV9v",
          "mode": "list",
          "cachedResultName": "Simple Video Automation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16yiaNCrXkD4MNq4rrgigTlibjqKJbV9v"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        368
      ],
      "id": "28c3a3c4-c772-4173-a60a-bb3d0ae6f787",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.0-fast-generate-001",
          "mode": "list",
          "cachedResultName": "models/veo-3.0-fast-generate-001"
        },
        "prompt": "={{ $('Add Idea').item.json.prompt }}",
        "options": {
          "aspectRatio": "9:16"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        976,
        272
      ],
      "id": "54861b67-7790-4b46-b943-d52c7cbc6976",
      "name": "Generate a video - Veo 3",
      "credentials": {
        "googlePalmApi": {
          "id": "pOulU84R26R4pD5U",
          "name": "Hans Acha Prod - Gemini Account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "name": "=veo_3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        272
      ],
      "id": "3f0343bd-0850-4ae7-9bd8-10c4c9623551",
      "name": "Upload Veo 3 video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "=sora_2",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        464
      ],
      "id": "95ea5b21-eaec-4054-bf53-6c17d073f736",
      "name": "Upload Sora 2 video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc",
          "mode": "list",
          "cachedResultName": "Simple Video Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Add Idea').item.json.id }}",
            "generated_veo3": "={{ $('Upload Veo 3 video').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video folder",
              "displayName": "video folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "generated_veo3",
              "displayName": "generated_veo3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_sora",
              "displayName": "generated_sora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        272
      ],
      "id": "9d94e93c-9450-44d8-bea2-b982b521c758",
      "name": "Update Veo 3 Field",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7h5GUO4vnqiS6fGb",
          "name": "Hans Acha Brand - Google Sheet Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc",
          "mode": "list",
          "cachedResultName": "Simple Video Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Add Idea').item.json.id }}",
            "generated_sora": "={{ $('Upload Sora 2 video').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video folder",
              "displayName": "video folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "generated_veo3",
              "displayName": "generated_veo3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "generated_sora",
              "displayName": "generated_sora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        464
      ],
      "id": "9c0af3ba-bdf1-44b8-b49f-f24db91553c7",
      "name": "Update Sora 2 Field",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7h5GUO4vnqiS6fGb",
          "name": "Hans Acha Brand - Google Sheet Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "sora-2",
          "mode": "list",
          "cachedResultName": "SORA-2"
        },
        "prompt": "={{ $('Add Idea').item.json.prompt }}",
        "size": "720x1280",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        976,
        464
      ],
      "id": "7466beaf-960d-49b3-8140-d1f26b41cc49",
      "name": "Generate a video - Sora 2",
      "credentials": {
        "openAiApi": {
          "id": "V6Wm417pFj30dZix",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        592
      ],
      "id": "c3351c95-9930-42d7-8728-96772396a0ba",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pOulU84R26R4pD5U",
          "name": "Hans Acha Prod - Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc",
          "mode": "list",
          "cachedResultName": "Simple Video Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eFCg7jUaihhdGF370l_sa3VR9NFyAJtAbdK1fdea8bc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Total Ideas').item.json.total + 1}}",
            "idea": "={{ $('Idea').item.json.source }}",
            "prompt": "={{ $('Video Strcuture Generator').item.json.output.toJsonString() }}",
            "status": "generated",
            "video folder": "={{ $('Create folder').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video folder",
              "displayName": "video folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_veo3",
              "displayName": "generated_veo3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "generated_sora",
              "displayName": "generated_sora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        368
      ],
      "id": "9abe381e-00b7-46cd-8bc2-2cc0b72ac716",
      "name": "Add Idea",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7h5GUO4vnqiS6fGb",
          "name": "Hans Acha Brand - Google Sheet Account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Simple Video Automation",
        "formDescription": "Automation to generate videos in Sora 2, Veo 3 and more",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Simple Idea"
            },
            {
              "fieldLabel": "Video Url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1168,
        368
      ],
      "id": "0c6da615-eba6-4164-bf01-1677ce137934",
      "name": "On form submission",
      "webhookId": "b36858be-6154-4654-915a-b67e207338fb"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "11122cad-5522-4da7-b73d-a5a4d9368f75",
                    "leftValue": "={{ $('On form submission').item.json['Simple Idea'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "idea"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json['Video Url'] }}",
                    "rightValue": "video_url",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "074cadd0-4349-4a5b-bacd-59b0b8ae9ac0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video_url"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -944,
        352
      ],
      "id": "6205c163-17dc-44c4-a359-bc2167187296",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48c12c1b-96ab-4c39-99fb-8e5646e86291",
              "name": "idea",
              "value": "={{ $('Switch').item.json['Simple Idea'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        272
      ],
      "id": "96438b9d-a086-4c72-8b2c-b717b3977294",
      "name": "Text Idea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48c12c1b-96ab-4c39-99fb-8e5646e86291",
              "name": "idea",
              "value": "={{ $('Analyze video').item.json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "8a852666-a751-48d8-9604-3776bdbcb016",
              "name": "source",
              "value": "={{ $('Switch').item.json['Video Url'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        464
      ],
      "id": "b5665e37-b710-467c-b62b-7acb939b502e",
      "name": "Url Idea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6f17eea-55df-4624-8b24-5f2a72cdfeb1",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "0af52008-849f-48e6-9edc-a0ad06a0adc3",
              "name": "idea",
              "value": "={{ $json.idea }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        368
      ],
      "id": "3c5cefb0-cb2d-48ea-929d-3cdb10dff4d9",
      "name": "Idea"
    },
    {
      "parameters": {
        "content": "## Generate Video Structure",
        "height": 528,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        208
      ],
      "typeVersion": 1,
      "id": "13b3c3f9-7ecb-4452-bc8c-e7fa9bd5df6f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Generate Videos & Load in Drive",
        "height": 528,
        "width": 1360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        208
      ],
      "typeVersion": 1,
      "id": "e12948bf-c381-4fae-a7f0-e69473174621",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Capture Data",
        "height": 528,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        208
      ],
      "typeVersion": 1,
      "id": "fc3f1746-b350-4354-bc6e-3658bc4727a9",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Video Strcuture Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Video Strcuture Generator": {
      "main": [
        [
          {
            "node": "Total Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Total Ideas": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Add Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video - Veo 3": {
      "main": [
        [
          {
            "node": "Upload Veo 3 video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Veo 3 video": {
      "main": [
        [
          {
            "node": "Update Veo 3 Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Sora 2 video": {
      "main": [
        [
          {
            "node": "Update Sora 2 Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video - Sora 2": {
      "main": [
        [
          {
            "node": "Upload Sora 2 video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Video Strcuture Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Idea": {
      "main": [
        [
          {
            "node": "Generate a video - Veo 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate a video - Sora 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Text Idea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Url Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Idea": {
      "main": [
        [
          {
            "node": "Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Url Idea": {
      "main": [
        [
          {
            "node": "Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea": {
      "main": [
        [
          {
            "node": "Video Strcuture Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fc56cb2-44d3-4a8f-a68a-634c5fa6f435",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8b926503e69b4d6452ef4997e517f018d779566da930bb3e134ea773821cffd"
  },
  "id": "JpUBi4NvsaKgrH8m",
  "tags": []
}