services/n8n-redis-pgvector/YT - PgVector - RAG Basico.json
{
  "name": "YT - PgVector - RAG Basico",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        208
      ],
      "id": "ee50e2ae-b070-4cc6-aa9b-c540b9f723e9",
      "name": "When chat message received",
      "webhookId": "d16eb412-9cf8-467f-825f-e930db101f16"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        432
      ],
      "id": "f5c0f07a-8fee-4ee6-b46a-4d2a7e7f6be8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CJp5VijgPVJDBcEc",
          "name": "Own Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1hM36qt5-uP8EmWYWxXHd7WLCzWneb-WR",
          "mode": "list",
          "cachedResultName": "Terminos Y Condiciones Tienda.docx",
          "cachedResultUrl": "https://docs.google.com/document/d/1hM36qt5-uP8EmWYWxXHd7WLCzWneb-WR/edit?usp=drivesdk&ouid=101139095075551396525&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        992
      ],
      "id": "82ef4cc1-7171-4f03-8799-108ee7d62404",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        672
      ],
      "id": "77c86c41-cf6f-4847-a26c-6fe2130de194",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "CJp5VijgPVJDBcEc",
          "name": "Own Credential"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Archivos Drive').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Archivos Drive').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        1440
      ],
      "id": "481cb901-677a-4c37-a05c-c3d351bbd06d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        224,
        1632
      ],
      "id": "83c96aef-4d05-4025-bc34-9e8e55bdeda2",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Archivos Drive').item.json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9c686ab2-b1ca-4020-98b2-43bcd08dc48c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bba4ea4c-dd93-488c-bb1c-1ea44529e8e2",
                    "leftValue": "={{ $('Archivos Drive').item.json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d5a7bad6-81ff-462d-b6ad-989d8947b30c",
                    "leftValue": "={{ $('Archivos Drive').item.json.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -384,
        976
      ],
      "id": "5300b062-a539-4d54-9e61-263287bfb197",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66966be4-4443-478c-9465-11ce7d6bdf8d",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        2256
      ],
      "id": "0f9d29cd-b82b-4ee9-9cf3-c1c22e37c027",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "13QbK_DnnaR-RT_Hm-jjJk63ndhMPj69c",
            "mode": "list",
            "cachedResultName": "conocimiento",
            "cachedResultUrl": "https://drive.google.com/drive/folders/13QbK_DnnaR-RT_Hm-jjJk63ndhMPj69c"
          }
        },
        "options": {
          "fields": "={{ [\"id\",\"name\",\"mimeType\",\"modifiedTime\"] }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1552,
        1168
      ],
      "id": "1dbbd557-8ebb-44da-8557-c53fb0068c15",
      "name": "Archivos Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2208,
        1680
      ],
      "id": "20790b83-3158-4bae-a97f-4747a59927a4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2b4f24b-3339-4e35-9182-b8d3fde3dd20",
              "leftValue": "={{ $('Archivos Drive').item.json.mimeType }}",
              "rightValue": "=application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1b64c784-acd5-423f-b12f-a42cbe210911",
              "leftValue": "={{ $('Archivos Drive').item.json.mimeType }}",
              "rightValue": "text/plain",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2fee83c3-5251-46f7-a448-da2967c97035",
              "leftValue": "={{ $('Archivos Drive').item.json.mimeType }}",
              "rightValue": "wordprocessingml.document",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        1184
      ],
      "id": "442e9e7f-30dd-4a89-af63-7c3c4e30ca92",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Archivos Drive' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1312,
        1168
      ],
      "id": "d18cf42c-6819-4dae-8f78-43466124351a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "content": "## RAG - Consulta",
        "height": 496,
        "width": 912,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        96
      ],
      "typeVersion": 1,
      "id": "395f7e6f-7d09-4266-90d5-bac0ab5bcf70",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RAG - Actualiza archivos",
        "height": 976,
        "width": 2448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        800
      ],
      "typeVersion": 1,
      "id": "40f66cf9-f9e5-4b73-a158-d9440718f232",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## RAG - Elimina archivos no usados",
        "height": 608,
        "width": 1504,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        1968
      ],
      "typeVersion": 1,
      "id": "75920851-2a80-45b1-806f-7ebc20db6bee",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        176,
        208
      ],
      "id": "3aa4a70a-c173-4ea8-b77e-3097fc337de9",
      "name": "RAG - Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        432
      ],
      "id": "57e17370-376c-4e26-92fe-7e00087336cc",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.title }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "13QbK_DnnaR-RT_Hm-jjJk63ndhMPj69c",
            "mode": "list",
            "cachedResultName": "conocimiento",
            "cachedResultUrl": "https://drive.google.com/drive/folders/13QbK_DnnaR-RT_Hm-jjJk63ndhMPj69c"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1008,
        2256
      ],
      "id": "8c456ce0-db7f-4b2a-b980-1502ef299b1d",
      "name": "Busca archivo",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kTHXbmVhUkYiMmTC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documents\nWHERE metadata->>'file_id' = '{{ $('Loop Over Items').item.json.id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        2272
      ],
      "id": "d2f45c4a-8359-471e-ae21-b13ccdb736a5",
      "name": "Elimina chunks",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documents\nWHERE metadata->>'file_id' = '{{ $('If2').item.json.id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        992
      ],
      "id": "39eaa0ee-5542-4b34-9366-acfc06a56a3e",
      "name": "Depura chunks",
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "archivos",
          "mode": "list",
          "cachedResultName": "archivos"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        2272
      ],
      "id": "e7868a2e-6541-4ba8-acea-2788c32dca5f",
      "name": "Elimina archivo BD",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Usa este nodo cuando el usuario realice una consulta relacionada con condiciones de compra, métodos de pago, envíos, devoluciones, promociones o cualquier aspecto legal o comercial de la tienda online.\n\nEl objetivo es recuperar el fragmento más relevante del documento “Términos y Condiciones – Mi Tienda Online”, disponible en Supabase.\n\nSi el mensaje del usuario contiene palabras clave como “cambio”, “devolución”, “envío”, “reembolso”, “aceptan”, “política”, “talla”, “fallado”, “promoción”, o “cómo comprar”, este nodo debe activarse.\n\n🔍 Ejemplos de preguntas que deben activar este nodo:\n\n¿Cuántos días tengo para hacer un reclamo?\n\n¿Qué métodos de pago aceptan?\n\n¿Hacen devoluciones si me queda chico?\n\n¿Qué pasa si el producto llega fallado?\n\n¿Cuál es su política de promociones?",
        "tableName": "documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        416,
        432
      ],
      "id": "4321a7f1-c96a-426e-b595-5bbb82b66123",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        144,
        1200
      ],
      "id": "38bd287c-afcc-4278-ad43-9f5d3e6363ef",
      "name": "Add Vectors",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'Archivos BD' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1280,
        2224
      ],
      "id": "42a89157-7fec-4531-ab8d-2eff1dd6747d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "archivos",
          "mode": "list",
          "cachedResultName": "archivos"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1552,
        2224
      ],
      "id": "51bac250-1892-4721-a369-522836ed0ae0",
      "name": "Archivos BD",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "archivos",
          "mode": "list",
          "cachedResultName": "archivos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "title": "={{ $json.name }}",
            "updated_at": "={{ $json.modifiedTime }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -816,
        992
      ],
      "id": "bdd46545-9aa7-40e2-88af-9bf731dadd8e",
      "name": "Actualiza archivos BD",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table if not exists archivos (\n  id text primary key,\n  title text,\n  updated_at timestamp,\n  created_at timestamp default now()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1968,
        1680
      ],
      "id": "ce41c576-2915-46d1-b3db-450f68b61427",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ver tablas",
        "height": 592,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        1968
      ],
      "typeVersion": 1,
      "id": "9f7e02eb-b10b-4c4f-b28c-fd98c6029b6f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        2240
      ],
      "id": "4af7a49f-79fe-4956-b4ba-f7a5edf24672",
      "name": "Get documents",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1840,
        1088
      ],
      "id": "a94237ce-8a7a-4444-b8ed-a1b4666f0459",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG setup - Vectoriza BD - 1 vez por BD",
        "height": 300,
        "width": 312,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2192,
        144
      ],
      "typeVersion": 1,
      "id": "a2642359-9f52-4b62-aa4c-2a23b05dc3c8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2096,
        256
      ],
      "id": "d62e1f69-52b6-47c4-8dd3-764dc5cb7e68",
      "name": "Vectoriza Postgres",
      "credentials": {
        "postgres": {
          "id": "PsXEAyW69ubLT6uL",
          "name": "PGVector local"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG - Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG - Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Add Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Add Vectors",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Add Vectors",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Elimina chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archivos Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Actualiza archivos BD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG - Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Busca archivo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elimina chunks": {
      "main": [
        [
          {
            "node": "Elimina archivo BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Depura chunks": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elimina archivo BD": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG - Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Busca archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archivos BD": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualiza archivos BD": {
      "main": [
        [
          {
            "node": "Depura chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Archivos BD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archivos Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Vectors": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b90caaa-f3c6-40f8-8e8e-b475e9f96aa1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87133338b76165c0c00cd3bca160984371f1bfef9b461d628efd43cae8813df6"
  },
  "id": "y2y5iRvfPCrmwElP",
  "tags": []
}