services/n8n-whisper-ffmpeg/YT - Add Subtitles to video.json
{
  "name": "YT - Add Subtitles to video",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51e6ccac-6a9f-459f-8ba6-4b70438648f9",
              "name": "path",
              "value": "./.n8n-files/ffmpeg-temp/subtitles",
              "type": "string"
            },
            {
              "id": "f65100ae-e591-4487-b6d2-5663192e1b35",
              "name": "video_file",
              "value": "subtitled_video",
              "type": "string"
            },
            {
              "id": "b6193555-9535-4d89-9992-c39b6117f160",
              "name": "video_extension",
              "value": "mp4",
              "type": "string"
            },
            {
              "id": "4e66aefc-ad8c-4f90-874a-ef320dc1b80a",
              "name": "max_line_width",
              "value": "15",
              "type": "string"
            },
            {
              "id": "58b450c7-4532-44f2-8cdd-a19079b87eac",
              "name": "max_line_count",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -288
      ],
      "id": "22e78fb0-3703-4c24-b300-f8a775079c10",
      "name": "Config"
    },
    {
      "parameters": {
        "command": "=rm -rf {{ $('Config').item.json.path }}/* \nmkdir -p {{ $('Config').item.json.path }}"
      },
      "id": "115ca0ec-04e9-411c-a338-a51b4a6c2842",
      "name": "Temporary workspace",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        432,
        -288
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.video_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -32
      ],
      "id": "53e91f47-898a-4bfd-91ab-c918a74a4732",
      "name": "Download video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3sq5fqrZEu7wWjPN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd {{ $('Config').item.json.path }} &&\n\nffmpeg -y -i video.{{ $('Config').item.json.video_extension }} \\\n  -map 0:v -c:v copy video_copy.{{ $('Config').item.json.video_extension }} \\\n  -map 0:a -c:a libmp3lame -b:a 192k audio.mp3\n"
      },
      "id": "638794bf-b140-4e69-b9c1-34e478e1ac58",
      "name": "FFmpeg - Separate Audio & Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        432,
        -32
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Setup",
        "height": 240,
        "width": 688,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -352
      ],
      "typeVersion": 1,
      "id": "a63e4e53-99fe-4e1d-8c7d-93b3193120af",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Download Video",
        "height": 224,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -80
      ],
      "typeVersion": 1,
      "id": "48f7b5e2-1443-4d62-8658-bf227e12faa3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Subtitles",
        "height": 240,
        "width": 688,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        176
      ],
      "typeVersion": 1,
      "id": "92eeb914-f49b-4e21-b466-fdb79d769fdc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Add Subtitles to Video",
        "height": 224,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        -352
      ],
      "typeVersion": 1,
      "id": "a1027b3a-ee3d-4b00-b7f3-b48642462dc3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Upload to drive",
        "height": 208,
        "width": 464,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        -80
      ],
      "typeVersion": 1,
      "id": "b91232a7-2961-478b-8ce2-b033da832a77",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "video_id"
            },
            {
              "name": "output_folder_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        -288
      ],
      "id": "70697c8e-6e4f-41a4-98f9-0b62748f60b0",
      "name": "Start"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Config').item.json.path }}/video.{{ $('Config').item.json.video_extension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        224,
        -32
      ],
      "id": "d867d214-1981-42d6-bdac-07d38732605f",
      "name": "Save Video Locally"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Config').item.json.path }}/audio.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        16,
        240
      ],
      "id": "b2d1d1d6-4b6a-47ac-a84a-f1c954744413",
      "name": "Get Audio Locally"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:8000/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "max_line_width",
              "value": "={{ $('Config').item.json.max_line_width }}"
            },
            {
              "name": "max_line_count",
              "value": "={{ $('Config').item.json.max_line_count }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        240
      ],
      "id": "bcb0adea-f83c-4b36-a7c0-7bb3d79ee1b6",
      "name": "Generate Subtitles with Whisper"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "srt",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "subtitles.srt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        432,
        240
      ],
      "id": "266111d4-9da2-4871-9e1e-a9ded341665f",
      "name": "Get srt file"
    },
    {
      "parameters": {
        "command": "=cd {{ $('Config').item.json.path }} &&\n\nffmpeg -i video.{{ $('Config').item.json.video_extension }} -vf \"subtitles=subtitles.srt:force_style='FontName=Impact,FontSize=24,PrimaryColour=&H00FFFF,OutlineColour=&H000000,BorderStyle=1,Outline=2,Alignment=2,MarginV=50'\" -c:a copy subtitled_video.{{ $('Config').item.json.video_extension }} -y"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        960,
        -288
      ],
      "id": "4c6e5f7b-23d4-4a3d-8d49-bbd12ea6f37a",
      "name": "Add subtitles to Video"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Config').item.json.path }}/subtitled_video.{{ $('Config').item.json.video_extension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        736,
        -32
      ],
      "id": "e7b5bb17-5ca1-4dfc-91a4-4d8d67ede2a6",
      "name": "Get final video"
    },
    {
      "parameters": {
        "name": "subtitled_video.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.output_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        -32
      ],
      "id": "f047c843-18b0-4975-9f2a-edf6c00b4f2e",
      "name": "Upload final video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3sq5fqrZEu7wWjPN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Config').item.json.path }}/{{ $('Get srt file').item.binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        736,
        -288
      ],
      "id": "cf356d33-4c98-417c-8c70-8695b4d10024",
      "name": "Save srt file locally"
    },
    {
      "parameters": {
        "content": "## 📝 Añadir Subtítulos a Video\n\nExtrae el audio, genera subtítulos con IA (Whisper) y los incrusta en el archivo de video final de manera completamente automática usando FFmpeg.\n\n### ⚙️ Configuración rápida\n1. Conecta tu nodo de Google Drive.\n2. Nodo **Config**:\n* `path` → Ubicación temporal de los archivos en disco.\n* `video_extension` → Extensión del formato contenedor (ej. mp4).\n* `max_line_width` → Ancho máximo en caracteres de cada línea.\n* `max_line_count` → Número máximo de líneas por pantalla de texto.\n👉 El comando FFmpeg en el nodo incluye personalización de la fuente que requerirás ajustar manualmente para cambiar su presentación (tipo de fuente, colores, etc).\n\n### 🧠 Qué hace el flujo\n* Descarga el video original y utiliza FFmpeg para extraer su pista de audio.\n* Envía este audio a un microservicio local Whisper enviando las opciones de texto como datos form.\n* Extrae el `.srt` generado y, usando un comando FFmpeg más complejo, compendia fuentes y alinea el texto en cada segmento de video.\n* Sube el producto final subtitulado de nuevo a tu Google Drive en el destino proporcionado desde el nodo `Start`.\n\n### 📺 Guía en video\n👉 [https://youtu.be/cFYV-726mBo](https://youtu.be/cFYV-726mBo)\n\n### 🔔 Más automatizaciones\n👉 [Hans Acha](https://www.youtube.com/@Hans-Acha)\n",
        "height": 768,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -352
      ],
      "typeVersion": 1,
      "id": "7680bee1-3108-4e07-80f4-7717848eaac8",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "video_id": "1rfPIuA7o8HCuGEynPCGZ-oldFaTx048z",
          "output_folder_id": "1r2kdmPWAmO3CekdoL827XS_fRdjqi2JN"
        }
      }
    ]
  },
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Temporary workspace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Temporary workspace": {
      "main": [
        [
          {
            "node": "Download video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download video": {
      "main": [
        [
          {
            "node": "Save Video Locally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg - Separate Audio & Video": {
      "main": [
        [
          {
            "node": "Get Audio Locally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Locally": {
      "main": [
        [
          {
            "node": "FFmpeg - Separate Audio & Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio Locally": {
      "main": [
        [
          {
            "node": "Generate Subtitles with Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Subtitles with Whisper": {
      "main": [
        [
          {
            "node": "Get srt file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get srt file": {
      "main": [
        [
          {
            "node": "Save srt file locally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add subtitles to Video": {
      "main": [
        [
          {
            "node": "Get final video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get final video": {
      "main": [
        [
          {
            "node": "Upload final video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save srt file locally": {
      "main": [
        [
          {
            "node": "Add subtitles to Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c46b68e9-5ff9-4094-aac8-61e71b568e43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8b926503e69b4d6452ef4997e517f018d779566da930bb3e134ea773821cffd"
  },
  "id": "sbbDf83QQIM5IvtY",
  "tags": []
}