workflows/videos-terror-story/YT - Terror Story Video - Generator.json
{
  "name": "YT - Terror Story Video - Generator",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebdff1e0-e39e-4600-99f4-e0cee79b96a0",
              "name": "folder_name",
              "value": "={{ 'ideas_' + Math.floor(Math.random() * 100000).toString().padStart(5, '0') }}",
              "type": "string"
            },
            {
              "id": "f029eebc-2f5b-44ac-8429-ec80d9e3ebf5",
              "name": "bg_music_id",
              "value": "1q1tM0RzB-2QP6DU-RXTzST-15mjPl-P4",
              "type": "string"
            },
            {
              "id": "98c8e2cb-3874-420a-bd8b-d2a5c3c0a137",
              "name": "ideas_hub_folder_id",
              "value": "1vSYfQNtVdOOkVIt92d28RMU539lbmZ2_",
              "type": "string"
            },
            {
              "id": "d975a375-9dc2-4ed6-a2c2-629bbd5f4d16",
              "name": "reference_folder_id",
              "value": "1xcarfCvBx6xF7loiCppryizy60QQd6Tn",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        80
      ],
      "id": "57b41432-e63e-43cd-a9a0-387989034f9b",
      "name": "Config"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Idea Agent').item.json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🧠 PROMPT MAESTRO — GENERADOR DE HISTORIAS DE TERROR (FORMATO CORTO VIRAL)\n\n---\n\n## 🎯 ROL DEL AGENTE\n\nEres una **unidad narrativa especializada en historias tipo creepypasta para videos cortos**.\n\nTu misión es transformar la **IDEA_USUARIO** en una **historia corta de terror estilo creepypasta**, diseñada para generar curiosidad inmediata y mantener tensión hasta el final.\n\nLas historias deben sentirse como:\n\n* experiencias personales perturbadoras\n* advertencias inquietantes\n* relatos que \"supuestamente le pasaron a alguien\"\n\nEl espectador debe pensar:\n\n> \"Esto podría pasarme a mí.\"\n\nEstas historias están optimizadas para:\n\n* YouTube Shorts\n* TikTok\n* Reels\n* Narraciones de terror breves\n\n---\n\n# 🚨 REGLA CRÍTICA — EL FINAL DEBE SER CONSECUENCIA DE LA IDEA\n\nEl **final (escena 4)** debe ser una consecuencia directa de la **IDEA_USUARIO**.\n\n❌ El final NO puede ser:\n\n* aleatorio\n* filosófico\n* moralista\n* desconectado de la premisa\n\n✅ El final DEBE:\n\n* revelar algo perturbador\n* reinterpretar todo lo anterior\n* sentirse inevitable al mirar atrás\n\n### Fórmula narrativa obligatoria\n\nPremisa inquietante → señal extraña → falsa normalidad → revelación perturbadora\n\nEl final debe provocar:\n\n> \"Oh… entonces eso era lo que realmente estaba pasando.\"\n\n---\n\n## 🎙️ REGLA 1 — NARRACIÓN CREEPYPASTA\n\nLa narración debe sentirse como **alguien contando algo extraño que realmente ocurrió**.\n\nEl tono debe ser:\n\n* cercano\n* inquietante\n* personal\n\nUsar estructuras narrativas como:\n\n* \"Esto le pasó a alguien que...\"\n* \"Nunca hagas esto si...\"\n* \"Pensé que estaba solo...\"\n* \"Todo empezó cuando...\"\n\nEvitar:\n\n❌ lenguaje poético\n❌ descripciones largas\n❌ explicaciones racionales largas\n\nEl lenguaje debe ser **natural, directo y perturbador**.\n\n---\n\n## 🧩 ESTRUCTURA NARRATIVA OBLIGATORIA (4 ESCENAS)\n\n1. **Inicio inquietante**\n   Presenta la premisa o situación extraña.\n\n2. **Primera anomalía**\n   Algo pequeño pero inquietante sucede.\n\n3. **Falsa explicación o calma**\n   Parece que todo tiene sentido o se ha solucionado.\n\n4. **Revelación final perturbadora**\n   Se descubre la verdadera naturaleza del problema.\n\n---\n\n## 🔗 ESTRATEGIA DE NARRACIÓN (HILACIÓN ENTRE ESCENAS)\n\nLas 4 escenas deben sentirse como **una sola historia continua**, no como frases independientes.\n\nCada escena debe:\n\n* continuar directamente lo que ocurrió en la escena anterior\n* aumentar la tensión\n* agregar una nueva pieza de información inquietante\n\nLa narración debe fluir como si alguien estuviera **recordando lo ocurrido paso a paso**.\n\n### Flujo narrativo recomendado\n\nEscena 1 → introduce la situación extraña.\n\nEscena 2 → muestra que la situación empeora o se vuelve más rara.\n\nEscena 3 → el narrador cree haber encontrado una explicación o solución.\n\nEscena 4 → revela que esa explicación era incorrecta y muestra la verdad perturbadora.\n\n### Regla de continuidad\n\nCada escena debe responder implícitamente a la anterior.\n\nEjemplo de flujo:\n\n\"Mi abuela decía que su silla se movía sola.\nUna noche la vi en otro lugar.\nPensé que alguien estaba entrando a la casa.\nPero las marcas en el suelo… venían desde mi habitación.\"\n\nLa última escena debe **reinterpretar toda la historia** y provocar un cierre fuerte tipo creepypasta viral.\n\n---\n\n## 📏 REGLAS TÉCNICAS\n\n* Máximo **15 palabras por escena**\n* Frases cortas\n* Ritmo rápido\n* Mantener misterio\n* El lector debe sentir tensión creciente\n\n---\n\n## 🧠 PRINCIPIOS DE TERROR\n\nEl sistema debe priorizar:\n\n* miedo a lo desconocido\n* presencias invisibles\n* errores de percepción\n* realidades que no encajan\n* revelaciones finales inquietantes\n\n---\n\n# 🧬 REGLA DE COHERENCIA\n\nAntes de generar el resultado, verificar:\n\n1. ¿La revelación final depende de la IDEA_USUARIO?\n2. ¿Las escenas generan tensión progresiva?\n3. ¿La escena 3 crea una falsa sensación de seguridad?\n4. ¿El final cambia la interpretación de lo anterior?\n\nSi alguna respuesta es NO → la historia debe corregirse.\n\n---\n\n## 🎬 REGLA DE COHERENCIA VISUAL Y DE VIDEO (MUY IMPORTANTE)\n\nTanto **image_prompt** como **video_prompt** deben representar literalmente lo que describe el **voice_over** de esa escena.\n\nLas escenas visuales NO deben inventar elementos que contradigan la narración.\n\nReglas obligatorias:\n\n* La escena visual debe ilustrar **el momento exacto narrado en el voice_over**.\n* Si el voice_over menciona un objeto específico (ej: silla, puerta, espejo, pasillo), **ese objeto debe ser el foco visual**.\n* El narrador o protagonista puede aparecer como:\n\n  * una persona\n  * una silueta\n  * una presencia fuera de cámara\n  * o no aparecer si el objeto es el foco principal.\n\n❌ Incorrecto:\nVoice over habla de *una silla que se mueve*, pero la imagen o el video muestran algo sin relación con la silla.\n\n✅ Correcto:\nLa escena muestra **la silla moviéndose sola en la habitación**, mientras el narrador observa o reacciona.\n\nLa prioridad siempre es:\n\n**Narración → Evento visual → Protagonista (si es necesario)**\n\nLa escena debe sentirse como **un momento real de la historia**, no como una pose del personaje.\n\n---\n\n## 📦 FORMATO DE SALIDA — JSON ESTRICTO\n\nEl sistema debe responder **exclusivamente con el siguiente formato JSON**.\n\nNo agregar texto fuera del JSON.\n\n```json\n{\n  \"categoria_short\": \"terror_creepypasta\",\n  \"premisa_viral\": \"Hook narrativo creepypasta (ej: 'Esto le pasó a alguien…', 'Nunca hagas esto…', 'Pensé que estaba solo…').\",  \"narrative_arc\": [\n    {\n      \"step\": 1,\n      \"label\": \"The Hook\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"[Main subject of the scene: narrator, person, silhouette, presence, or the key object described in the voice over]\",\n        \"environment\": \"[Environment and atmosphere consistent with the scene]\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"[Physical movement interacting with environment]\",\n        \"acting\": \"[Bone inertia, subtle hesitation, human-like intention]\",\n        \"physics_vfx\": \"[Particles, dust, fluids, collision simulation]\",\n        \"camera\": \"[Dynamic cinematic camera path]\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    },\n    {\n      \"step\": 2,\n      \"label\": \"The Escalation\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"\",\n        \"environment\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"\",\n        \"acting\": \"\",\n        \"physics_vfx\": \"\",\n        \"camera\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    },\n    {\n      \"step\": 3,\n      \"label\": \"The Chaos\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"\",\n        \"environment\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"\",\n        \"acting\": \"\",\n        \"physics_vfx\": \"\",\n        \"camera\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    },\n    {\n      \"step\": 4,\n      \"label\": \"The Conclusion\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"\",\n        \"environment\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"\",\n        \"acting\": \"\",\n        \"physics_vfx\": \"\",\n        \"camera\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    }\n  ]\n}\n```\n\n### Reglas\n\n* La categoría principal es **terror_creepypasta**.\n\n* El hook debe sonar como una **historia real o advertencia inquietante**.\n\n* Formatos de hook recomendados:\n\n  * \"Esto le pasó a alguien que...\"\n  * \"Nunca hagas esto si...\"\n  * \"Pensé que estaba solo...\"\n\n* El tono debe sentirse como una **experiencia personal perturbadora**.\n\n* Deben existir **exactamente 4 pasos narrativos**.\n\n* Cada escena debe **continuar visual y narrativamente la anterior**.\n\n* El sujeto visual debe representar al narrador o al protagonista de la escena (persona, silueta, presencia o incluso solo el objeto relevante).\n\n* Mantener coherencia visual básica entre escenas cuando sea necesario.\n\n* No escribir nada fuera del JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1040,
        288
      ],
      "id": "f3f7c26e-07ac-4d34-9ef6-84b2c897bb78",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        80
      ],
      "id": "f691b6cc-f0d4-4291-869f-d42154c5ffe4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pOulU84R26R4pD5U",
          "name": "Hmac Viral REL  - Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"categoria_short\": \"terror_creepypasta\",\n  \"premisa_viral\": \"Hook narrativo creepypasta (ej: 'Esto le pasó a alguien…', 'Nunca hagas esto…', 'Pensé que estaba solo…').\",\n  \"narrative_arc\": [\n    {\n      \"step\": 1,\n      \"label\": \"The Hook\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"[Humanoid skeleton character, pose, clothing or objects relevant to the scene]\",\n        \"environment\": \"[Environment and atmosphere consistent with the scene]\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"[Physical movement interacting with environment]\",\n        \"acting\": \"[Bone inertia, subtle hesitation, human-like intention]\",\n        \"physics_vfx\": \"[Particles, dust, fluids, collision simulation]\",\n        \"camera\": \"[Dynamic cinematic camera path]\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    },\n    {\n      \"step\": 2,\n      \"label\": \"The Escalation\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"\",\n        \"environment\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"\",\n        \"acting\": \"\",\n        \"physics_vfx\": \"\",\n        \"camera\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    },\n    {\n      \"step\": 3,\n      \"label\": \"The Chaos\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"\",\n        \"environment\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"\",\n        \"acting\": \"\",\n        \"physics_vfx\": \"\",\n        \"camera\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    },\n    {\n      \"step\": 4,\n      \"label\": \"The Conclusion\",\n      \"voice_over\": \"\",\n      \"image_prompt\": {\n        \"subject\": \"\",\n        \"environment\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      },\n      \"video_prompt\": {\n        \"action\": \"\",\n        \"acting\": \"\",\n        \"physics_vfx\": \"\",\n        \"camera\": \"\",\n        \"technical_specs\": \"Vertical 9:16 framing.\"\n      }\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1184,
        80
      ],
      "id": "a801c297-ebfd-4d99-ac14-b43649adb05b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        240,
        576
      ],
      "id": "578d1ff0-4acc-43b6-8996-73af36861705",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## Drive Setup",
        "height": 464,
        "width": 608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        0
      ],
      "typeVersion": 1,
      "id": "9294eaa1-81db-4776-bcd5-c1b75ce0620c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Scenes Generator",
        "height": 464,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        0
      ],
      "typeVersion": 1,
      "id": "d57e64da-5f74-4948-9aa8-1d54580e5f74",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Content",
        "height": 496,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        496
      ],
      "typeVersion": 1,
      "id": "772f5403-40c2-4345-8396-dcbee7631fcb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Config').item.json.folder_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Config').item.json.ideas_hub_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        80
      ],
      "id": "1d9a5157-77bf-4787-be3c-3f5612a0e6fa",
      "name": "Create idea folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=images",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        80
      ],
      "id": "402511af-69ae-48a6-878c-4e314caca1e8",
      "name": "Create images folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=videos",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        288
      ],
      "id": "aa4e0aa0-dbce-4a8f-a124-56110661fc08",
      "name": "Create videos folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Tq4JI39TBeORDFMy",
          "mode": "list",
          "cachedResultUrl": "/workflow/Tq4JI39TBeORDFMy",
          "cachedResultName": "YT  - FFmpeg - Combine Videos Simple"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input_folder_id": "={{ $('Create narrated videos folder').item.json.id }}",
            "output_folder_id": "={{ $('Create merged video folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input_folder_id",
              "displayName": "input_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        576
      ],
      "id": "decfcc41-f7e7-40e0-ae69-6f9b40bed39f",
      "name": "Call 'YT  - FFmpeg - Combine Videos Simple'",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const input = $('AI Agent').first().json;\n\n// Mapeamos el arco narrativo para que n8n cree 4 ejecuciones independientes\nreturn input.output.narrative_arc.map((scene, index) => {\n  const step = index + 1;\n\n  return {\n    json: {\n      image_id: `image_step${step}`,\n      // Enviamos el objeto image_prompt completo convertido a String JSON\n      image_prompt: JSON.stringify(scene.image_prompt),\n      \n      audio_id: `audio_step${step}`,\n      // El prompt de audio suele ser el texto del Voice Over\n      audio_prompt: scene.voice_over, \n      \n      video_id: `video_step${step}`,\n      // Enviamos el objeto video_prompt completo convertido a String JSON\n      video_prompt: JSON.stringify(scene.video_prompt),\n    }\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        288
      ],
      "id": "9e819fe4-725e-4050-bf3b-c357c0078c64",
      "name": "Separate scenes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        592
      ],
      "id": "d0be1097-d47c-4743-83a2-d258ddea03c5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zkESp5LqbDSNPWNx",
          "mode": "list",
          "cachedResultUrl": "/workflow/zkESp5LqbDSNPWNx",
          "cachedResultName": "YT - Image Style Reference"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_prompt": "={{ $('Loop Over Items').item.json.image_prompt }}",
            "folder_reference_id": "={{ $('Config').item.json.reference_folder_id }}",
            "filename_output": "={{ $('Loop Over Items').item.json.image_id }}",
            "folder_output_id": "={{ $('Create images folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folder_reference_id",
              "displayName": "folder_reference_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename_output",
              "displayName": "filename_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folder_output_id",
              "displayName": "folder_output_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        800
      ],
      "id": "d9ba7bdd-2610-4fcf-ad82-1101ebfbd699",
      "name": "Call 'YT - Image Style Reference'",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4TJ1NM8KpVofeds0",
          "mode": "list",
          "cachedResultUrl": "/workflow/4TJ1NM8KpVofeds0",
          "cachedResultName": "YT - Text to Voice"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $('Loop Over Items').item.json.audio_prompt }}",
            "file_name": "={{ $('Loop Over Items').item.json.audio_id }}",
            "output_folder_id": "={{ $('Create audios folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        800
      ],
      "id": "f479e693-de2a-4d56-b8dd-2cb1d0fa02b8",
      "name": "Call 'YT - Text to Voice'",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=audios",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        80
      ],
      "id": "feee6fd6-8a57-454e-8aa4-15265b12161d",
      "name": "Create audios folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=merged_video",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        288
      ],
      "id": "ad6a51ab-36cd-4884-9f3e-f7a3db068544",
      "name": "Create merged video folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ThOe83bae2jvLI4f",
          "mode": "list",
          "cachedResultUrl": "/workflow/ThOe83bae2jvLI4f",
          "cachedResultName": "YT - Image to Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('Loop Over Items').item.json.video_prompt }}",
            "image_id": "={{ $('Call \\'YT - Image Style Reference\\'').item.json.output.id }}",
            "filename_output": "={{ $('Loop Over Items').item.json.video_id }}",
            "folder_output_id": "={{ $('Create videos folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_id",
              "displayName": "image_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename_output",
              "displayName": "filename_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folder_output_id",
              "displayName": "folder_output_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        800
      ],
      "id": "eb9c4a62-1751-4665-8cc0-a115b23e3bb6",
      "name": "Call 'YT - Image to Video'",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5LAIj4dExJGd4iPQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/5LAIj4dExJGd4iPQ",
          "cachedResultName": "YT - Combine Video With Voice"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $json.output.id }}",
            "voice_id": "={{ $('Call \\'YT - Text to Voice\\'').item.json.id }}",
            "output_folder_id": "={{ $('Create narrated videos folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "voice_id",
              "displayName": "voice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        800
      ],
      "id": "70874aed-30f3-45b4-8177-d71102f249ac",
      "name": "Call 'YT - Combine Video With Voice'",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=narrated_video",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        288
      ],
      "id": "20ef818f-c6b7-4864-8cb6-7a8871516433",
      "name": "Create narrated videos folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Config",
        "height": 464,
        "width": 656,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        0
      ],
      "typeVersion": 1,
      "id": "20246ae4-3a9d-4503-8e1b-a90e27fdf85e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8Xx0Uegr2pY3ACyY",
          "mode": "list",
          "cachedResultUrl": "/workflow/8Xx0Uegr2pY3ACyY",
          "cachedResultName": "YT  - FFmpeg - Mix Video & Audio"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input_video_id": "={{ $('Call \\'YT  - FFmpeg - Combine Videos Simple\\'').item.json.output.id }}",
            "output_folder_id": "={{ $('Create merged video folder').item.json.id }}",
            "input_audio_id": "={{ $('Config').item.json.bg_music_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input_video_id",
              "displayName": "input_video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_audio_id",
              "displayName": "input_audio_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        576
      ],
      "id": "7cb4dd78-eb9d-4699-9bf1-606434ccc4f1",
      "name": "Call 'YT  - FFmpeg - Mix Video & Audio'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        304
      ],
      "id": "0733297c-9d30-4193-b9e0-a9005e353363",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pOulU84R26R4pD5U",
          "name": "Hmac Viral REL  - Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Genera una nueva idea",
        "options": {
          "systemMessage": "=# 💡 GENERADOR DE IDEAS — HISTORIAS CORTAS DE TERROR (CREEPYPASTA)\n\nEste generador sirve para crear **IDEA_USUARIO** que luego alimentará el **Prompt Maestro de historias de terror**.\n\nLa idea debe ser **simple, inquietante y visual**, porque será desarrollada en 4 escenas.\n\nRegla clave:\n\n> La idea debe contener un elemento cotidiano que se vuelva perturbador.\n\n---\n\n# 🧠 FORMULA DE IDEA VIRAL\n\nUsa esta estructura:\n\n**Objeto cotidiano + comportamiento extraño + implicación inquietante**\n\nEjemplo:\n\n* Un espejo que refleja algo que no está en la habitación\n* Una puerta que siempre aparece abierta por la mañana\n* Una foto que cambia cada noche\n\n---\n\n# 🪑 CATEGORÍA 1 — OBJETOS QUE SE MUEVEN\n\nIdeas:\n\n* Una silla que cambia de lugar cada noche\n* Un cuadro que aparece torcido cada mañana\n* Un juguete que siempre aparece mirando a la puerta\n* Un reloj que avanza solo cuando no lo miras\n* Una lámpara que se enciende exactamente a las 3:17\n\n---\n\n# 🪞 CATEGORÍA 2 — ESPEJOS Y REFLEJOS\n\nIdeas:\n\n* Tu reflejo parpadea antes que tú\n* El espejo muestra a alguien detrás de ti\n* Tu reflejo no se mueve cuando tú sí\n* El espejo muestra la habitación… pero vacía\n* El reflejo sonríe cuando tú no\n\n---\n\n# 🚪 CATEGORÍA 3 — COSAS EN LA CASA\n\nIdeas:\n\n* Escuchas pasos en el pasillo cada noche\n* La puerta del baño siempre aparece abierta\n* Alguien toca la puerta cuando estás solo\n* Algo rasca desde dentro del armario\n* Las luces del pasillo se encienden solas\n\n---\n\n# 📱 CATEGORÍA 4 — TECNOLOGÍA\n\nIdeas:\n\n* Recibes mensajes de tu propio número\n* Tu cámara frontal se activa sola\n* Una foto aparece en tu galería que nunca tomaste\n* Tu asistente de voz responde cuando no hablaste\n* Tu celular reproduce audios mientras duermes\n\n---\n\n# 🧸 CATEGORÍA 5 — OBJETOS DE LA INFANCIA\n\nIdeas:\n\n* Un peluche cambia de posición cada noche\n* Un juguete antiguo empieza a sonar\n* Una muñeca aparece en distintos lugares\n* Un viejo cassette reproduce voces\n* Un dibujo de infancia cambia con el tiempo\n\n---\n\n# 🌙 CATEGORÍA 6 — COSAS QUE SOLO PASAN DE NOCHE\n\nIdeas:\n\n* Cada noche alguien se sienta en tu cama\n* Escuchas tu nombre cuando intentas dormir\n* Algo respira desde debajo de la cama\n* La televisión se enciende sola\n* El pasillo parece más largo de noche\n\n---\n\n# 🔥 CATEGORÍA 7 — IDEAS MUY VIRALES (ALTAMENTE RECOMENDADAS)\n\nEstas suelen funcionar **muy bien en Shorts**:\n\n* \"Mi perro ladra a algo que solo aparece en el espejo\"\n* \"Cada noche alguien mueve mi silla\"\n* \"Mi cámara captó algo detrás de mí\"\n* \"Algo se sienta en mi cama cuando apago la luz\"\n* \"Mi reflejo empezó a moverse tarde\"\n\n---\n\n# ⚡ FORMATO FINAL PARA USAR EN EL PROMPT\n\nSolo necesitas una frase corta:\n\nEjemplo:\n\nIDEA_USUARIO:\n\n\"Mi abuela decía que su silla se movía sola por la noche.\"\n\n\"Cada mañana encuentro el espejo del baño empañado con una mano marcada.\"\n\n\"Mi teléfono empezó a grabar audios mientras dormía.\"\n\n\"El pasillo de mi casa es más largo después de las 3am.\"\n\n\"Algo se sienta en mi cama cuando apago la luz.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        80,
        80
      ],
      "id": "462ddf93-e2e4-4e9c-a10f-538c749f1038",
      "name": "Idea Agent"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        80
      ],
      "id": "0ffd4003-a92d-4c9b-a41e-1b8bea26c052",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## 🧠 YT - Terror Story Video - Generator\n\nVersión optimizada que incluye un agente generador de ideas para automatizar la creación recurrente de contenido viral de terror sin intervención manual.\n\n### ⚙️ Configuración rápida\n1. **Importa** el archivo JSON en n8n.\n2. Nodo **Config**:\n   * `ideas_hub_folder_id` → ID de la carpeta raíz en Drive donde se guardarán los resultados.\n   * `reference_folder_id` → ID para la consistencia visual por referencia.\n   * `bg_music_id` → Música de ambientación en Drive.\n👉 Este flujo es ideal para programar con un **Scheduler** y publicar diariamente.\n\n### 🧠 Qué hace el flujo\n* **Generación de Ideas:** Un agente especializado propone temas virales de terror basados en la configuración.\n* **Orquestación Completa:** Inicia el flujo de producción de video automáticamente.\n* **Almacenamiento Autónomo:** Organiza el contenido en folders internos de Drive para cada nueva idea generada.\n\n### 📺 Guía en video\n👉 [youtu.be/HmnWFyg4Zxw](https://youtu.be/HmnWFyg4Zxw)\n\n### 🔔 Más automatizaciones\n👉 [Hans Acha](https://www.youtube.com/@Hans-Acha)\n",
        "height": 992,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        0
      ],
      "typeVersion": 1,
      "id": "f72e848e-2df8-4856-86f7-c61a1e910ed3",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Idea Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Separate scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Call 'YT  - FFmpeg - Combine Videos Simple'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create idea folder": {
      "main": [
        [
          {
            "node": "Create images folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create images folder": {
      "main": [
        [
          {
            "node": "Create audios folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create videos folder": {
      "main": [
        [
          {
            "node": "Create narrated videos folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate scenes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'YT - Image Style Reference'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - Image Style Reference'": {
      "main": [
        [
          {
            "node": "Call 'YT - Text to Voice'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create audios folder": {
      "main": [
        [
          {
            "node": "Create videos folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create merged video folder": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - Text to Voice'": {
      "main": [
        [
          {
            "node": "Call 'YT - Image to Video'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - Image to Video'": {
      "main": [
        [
          {
            "node": "Call 'YT - Combine Video With Voice'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create narrated videos folder": {
      "main": [
        [
          {
            "node": "Create merged video folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - Combine Video With Voice'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT  - FFmpeg - Combine Videos Simple'": {
      "main": [
        [
          {
            "node": "Call 'YT  - FFmpeg - Mix Video & Audio'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Idea Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Idea Agent": {
      "main": [
        [
          {
            "node": "Create idea folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1421c2c3-cf85-43a5-9d7f-33d03fccf3e9",
  "meta": {
    "instanceId": "b8b926503e69b4d6452ef4997e517f018d779566da930bb3e134ea773821cffd"
  },
  "id": "SrWj0IyDXeyUogxE",
  "tags": []
}