workflows/videos-construction-timelapse/YT - Start-End Image to Video.json
{
  "name": "YT - Start-End Image to Video",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "start_frame_id"
            },
            {
              "name": "end_frame_id"
            },
            {
              "name": "filename_output"
            },
            {
              "name": "folder_output_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        640,
        64
      ],
      "id": "fcb7070c-dfc4-469c-986b-2aafca0f8eb8",
      "name": "Start"
    },
    {
      "parameters": {
        "jsCode": "const prompt = $('Start').first().json.prompt;\nconst aspect_ratio = $('Config').first().json.ascpect_ratio;\n\n// --- START FRAME ---\nconst startImage = $('Download Start Frame').first();\nconst startBinnary = startImage.binary?.start;\nconst startMime = startBinnary.mimeType || 'image/png';\nconst startBuffer = await this.helpers.getBinaryDataBuffer(0, 'start');\nconst startBase64 = startBuffer.toString('base64');\n\n// --- END FRAME ---\nconst endImage = $('Download End Frame').first();\nconst endBinnary = endImage.binary?.end;\nconst endMime = endBinnary.mimeType || 'image/png';\nconst endBuffer = await this.helpers.getBinaryDataBuffer(0, 'end');\nconst endBase64 = endBuffer.toString('base64');\n\n// --- OUTPUT ---\nreturn [{\n  json: {\n    instances: [{\n      prompt: prompt,\n      image: {\n        bytesBase64Encoded: startBase64,\n        mimeType: startMime\n      },\n      lastFrame: {\n        bytesBase64Encoded: endBase64,\n        mimeType: endMime\n      }\n    }],\n    parameters: {\n      resolution: \"720p\",\n      durationSeconds: 8,\n      aspectRatio: aspect_ratio,\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        64
      ],
      "id": "8dbcaca7-d8f6-4379-a6be-3a5398a279c6",
      "name": "Generate Prompt"
    },
    {
      "parameters": {
        "content": "## Config",
        "height": 224,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        0
      ],
      "typeVersion": 1,
      "id": "70b24e6b-8f36-4d36-8d6a-e4cca660545d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Download Frames",
        "height": 240,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        240
      ],
      "typeVersion": 1,
      "id": "71cfcdc7-5258-4669-816c-35bb78a8f4bf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Generate Video with Start and End Frame",
        "height": 480,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        0
      ],
      "typeVersion": 1,
      "id": "6a24fde0-054c-4dd3-a6ed-1ec0363f8090",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Load Generated Video",
        "height": 480,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        0
      ],
      "typeVersion": 1,
      "id": "64f77200-eab8-439b-9b8f-40cb237f9bcd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "621fe449-f2f3-4154-b7ba-49f012726db4",
              "name": "output",
              "value": "={{ $('Load Generated Video').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        320
      ],
      "id": "877c2b93-f1f9-417c-8df5-4d508be92e34",
      "name": "Output"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        272
      ],
      "id": "bf76c7ef-e5df-48a5-94f8-3228e676fa79",
      "name": "Wait",
      "webhookId": "a68cb320-e304-4563-b4be-d4dcb97315c4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $('Config').item.json.model }}:predictLongRunning",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Generate Prompt').item.json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        64
      ],
      "id": "b906d686-0b67-4ded-be2e-c3ae83347781",
      "name": "Generate Video - Veo3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxHittWRCHWE4fKt",
          "name": "Gemini Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $('Generate Video - Veo3').item.json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        272
      ],
      "id": "608f5948-3837-4a29-a4c7-824f5b587833",
      "name": "Get Generation Response",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxHittWRCHWE4fKt",
          "name": "Gemini Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3b2b430-6288-48ea-be2b-962f26021d57",
              "leftValue": "={{ $('Get Generation Response').item.json.done }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        272
      ],
      "id": "8abb8b03-37d2-4b28-ad7d-58c9f28da55e",
      "name": "Check Response"
    },
    {
      "parameters": {
        "url": "={{ $('Check Response').item.json.response.generateVideoResponse.generatedSamples[0].video.uri }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        64
      ],
      "id": "1f356b0b-cae6-48e0-a552-c88e94e8dc22",
      "name": "Download Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxHittWRCHWE4fKt",
          "name": "Gemini Header Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b24e57a-5d79-4655-8025-a1402f0829d3",
              "name": "ascpect_ratio",
              "value": "9:16",
              "type": "string"
            },
            {
              "id": "0f5a092a-3a7c-4f71-8ebe-b302ec28342c",
              "name": "model",
              "value": "veo-3.1-fast-generate-preview",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        64
      ],
      "id": "69810303-1d50-44eb-8984-b19ec1a3df2f",
      "name": "Config"
    },
    {
      "parameters": {
        "name": "={{ $('Start').item.json.filename_output }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.folder_output_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1840,
        64
      ],
      "id": "2d8ebb15-8d73-4891-a3fe-373bed3d4360",
      "name": "Load Generated Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.start_frame_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "start"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        320
      ],
      "id": "03982aa5-f4c9-4113-be46-d1b5b212e200",
      "name": "Download Start Frame",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.end_frame_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "end"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        320
      ],
      "id": "5384bce2-2778-43a7-a719-db39d7987ce2",
      "name": "Download End Frame",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🎬 YT - Start-End Image to Video\n\nWorkflow que automatiza la creación de transiciones cinemáticas (morphing) entre dos frames utilizando la potencia de **Google Veo**.\n\n### ⚙️ Configuración rápida\n1. Configura credenciales de **Google Gemini API** (para Veo) y **Google Drive**.\n2. Los parámetros de entrada son:\n* `start_frame_id` → ID del frame inicial.\n* `end_frame_id` → ID del frame final.\n* `prompt` → Instrucción de movimiento o transformación.\n👉 El flujo incluye un sistema de espera inteligente para procesar videos largos.\n\n### 🧠 Qué hace el flujo\n* Descarga los frames de inicio y fin desde Drive.\n* Envía la petición asíncrona a la API de **Veo 3.1**.\n* Monitorea el estado de la generación hasta que el video está \"done\".\n* Descarga el .mp4 final y lo sube a la carpeta de destino.\nMorphing arquitectónico 100% automatizado.\n\n### 📺 Guía en video\n👉 [youtu.be/x2X-P_K-SXw](https://youtu.be/x2X-P_K-SXw)\n\n### 🔔 Más automatizaciones\n👉 [Hans Acha](https://www.youtube.com/@Hans-Acha)\n",
        "height": 704,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        0
      ],
      "typeVersion": 1,
      "id": "2df1dca8-2f21-4c1c-b86d-5dcc1d6d0636",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "prompt": "Transform image 1 into image 2",
          "start_frame_id": "1UN4Q4SJelyllJt9SwVCGT6IVNLjq9CmC",
          "end_frame_id": "1DSq6wl-zjhVtd6GNwZOfNokz9eSqhgVu",
          "filename_output": "video_scene_1",
          "folder_output_id": "1L-PFQCP3HwUseoShqZbgR37g9mP5MEVd"
        }
      }
    ]
  },
  "connections": {
    "Generate Prompt": {
      "main": [
        [
          {
            "node": "Generate Video - Veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Generation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video - Veo3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Generation Response": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Load Generated Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Download Start Frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Generated Video": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Start Frame": {
      "main": [
        [
          {
            "node": "Download End Frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download End Frame": {
      "main": [
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "935f5e9a-9e4f-4ce9-a24b-9ed4d16c11c1",
  "meta": {
    "instanceId": "b8b926503e69b4d6452ef4997e517f018d779566da930bb3e134ea773821cffd"
  },
  "id": "6dQszuS7GsSKebdW",
  "tags": []
}