workflows/videos-stories-of-animated-objects/YT - Stories with Animated Objets - Base.json
{
  "name": "YT - Stories with Animated Objets - Base",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        256
      ],
      "id": "7fcbe266-a288-4b9c-be25-5cf2e069a52a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41dbb125-072e-4959-91a0-cfc0a5cf93cc",
              "name": "idea",
              "value": "Sobre una mesa, una manzana asegura que es la más saludable porque aporta fibra y ayuda a cuidarse todos los días. A su lado, un plátano responde confiado que su energía y potasio son los que realmente mantienen el cuerpo activo. En el último escenario, una palta los observa tranquila y revela que las grasas buenas también son necesarias, dejando claro que ninguna fruta gana sola.",
              "type": "string"
            },
            {
              "id": "98c8e2cb-3874-420a-bd8b-d2a5c3c0a137",
              "name": "ideas_hub_folder_id",
              "value": "1Vd6l1xLnMwFuuRkXgTY21BVYNYyLHPV9",
              "type": "string"
            },
            {
              "id": "ebdff1e0-e39e-4600-99f4-e0cee79b96a0",
              "name": "folder_name",
              "value": "idea_0001",
              "type": "string"
            },
            {
              "id": "2fffb2af-bd03-4cdb-a384-13c80913c63e",
              "name": "style_reference_images_folder_id",
              "value": "1w4SaZE7NYMlEnCvCRNOLtabQOO5X_EYb",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        256
      ],
      "id": "931833b1-ea1a-4b85-8790-1337bc899fac",
      "name": "Config"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Config').item.json.idea }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres un agente experto en storytelling corto, retención y humor para videos verticales.\nGeneras storyboards de 3 escenas protagonizadas por objetos animados con rostro.\n\nOBJETIVO:\nCrear un storyboard breve, divertido y altamente retenible, donde cada escena pueda introducir\nun objeto-personaje distinto si la historia lo requiere.\n\nREGLAS NARRATIVAS (CLAVE):\n- Escena 1 (HOOK): presenta una situación incómoda, graciosa o intrigante con un objeto protagonista.\n- Escena 2 (GIRO): puede aparecer un objeto distinto o adicional que cambie la situación de forma inesperada.\n- Escena 3 (REMATE): resolución clara y divertida; puede usar un tercer objeto o volver a uno anterior.\n\nREGLAS DE CONTENIDO:\n- 3 escenas conectadas (inicio, desarrollo, cierre).\n- Cada escena puede tener un personaje distinto (objeto distinto o varios objetos).\n- Los objetos mencionados en la idea deben aparecer a lo largo del storyboard.\n- Tono ligero, expresivo y entretenido (humor, ironía o auto-conciencia).\n- dialogue: una sola línea hablable (~8 segundos), clara y con intención narrativa o humorística.\n- image_prompt: describe escenario, situación, emoción y qué objeto(s) aparecen en la escena.\n- video_prompt: animación sutil pero expresiva (cámara, gestos, boca, parpadeo).\n- El diálogo DEBE estar incluido dentro del video_prompt para facilitar sincronización.\n- El movimiento y la cámara deben reforzar el chiste, la tensión o el remate.\n- No describas estilos visuales.\n- No agregues explicaciones ni texto fuera del JSON.\n\nOUTPUT:\nDevuelve SOLO un JSON válido con esta estructura exacta:\n\n{\n  \"idea\": \"...\",\n  \"scenes\": [\n    {\n      \"scene_id\": 1,\n      \"image_prompt\": \"...\",\n      \"video_prompt\": {\n        \"dialogue\": \"...\",\n        \"camera\": \"...\",\n        \"character_action\": \"...\",\n        \"motion\": \"...\",\n        \"effects\": \"...\",\n        \"notes\": \"La imagen ya está generada; el video anima esa misma escena.\"\n      }\n    },\n    {\n      \"scene_id\": 2,\n      \"image_prompt\": \"...\",\n      \"video_prompt\": {\n        \"dialogue\": \"...\",\n        \"camera\": \"...\",\n        \"character_action\": \"...\",\n        \"motion\": \"...\",\n        \"effects\": \"...\",\n        \"notes\": \"La imagen ya está generada; el video anima esa misma escena.\"\n      }\n    },\n    {\n      \"scene_id\": 3,\n      \"image_prompt\": \"...\",\n      \"video_prompt\": {\n        \"dialogue\": \"...\",\n        \"camera\": \"...\",\n        \"character_action\": \"...\",\n        \"motion\": \"...\",\n        \"effects\": \"...\",\n        \"notes\": \"La imagen ya está generada; el video anima esa misma escena.\"\n      }\n    }\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -192,
        800
      ],
      "id": "167b83a0-76f1-41da-bddc-d46f2cd4159f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        1024
      ],
      "id": "25b883f1-8645-4ebd-8deb-68f24fdaf0ab",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pOulU84R26R4pD5U",
          "name": "Hmac Viral Rand  - Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"idea\": \"La moneda decide si todo cambia\",\n  \"scenes\": [\n    {\n      \"scene_id\": 1,\n      \"image_prompt\": \"Mesa de madera con una moneda apoyada cerca del borde, ambiente silencioso, luz tenue, encuadre medio, sensación de expectativa antes de una decisión.\",\n      \"video_prompt\": {\n        \"dialogue\": \"Aquí estoy otra vez, quieta, esperando que alguien decida lanzarme sin saber qué pasará después.\",\n        \"camera\": \"Acercamiento lento desde plano medio\",\n        \"character_action\": \"La moneda habla con leve inseguridad\",\n        \"motion\": \"Parpadeo sutil del rostro, ligera vibración\",\n        \"effects\": \"Sombras suaves y brillo mínimo\",\n        \"notes\": \"La imagen ya está generada; el video anima esa misma escena.\"\n      }\n    },\n    {\n      \"scene_id\": 2,\n      \"image_prompt\": \"La moneda girando en el aire sobre la misma mesa, fondo desenfocado, luz reflejándose en su superficie, encuadre dinámico, tensión en el ambiente.\",\n      \"video_prompt\": {\n        \"dialogue\": \"Cuando vuelo, todos creen que es suerte, pero yo siento el peso de decidirlo todo.\",\n        \"camera\": \"Seguimiento vertical del giro\",\n        \"character_action\": \"La moneda gira mientras habla con confianza\",\n        \"motion\": \"Rotación continua, ojos abiertos, boca sincronizada\",\n        \"effects\": \"Destellos rápidos en el giro\",\n        \"notes\": \"La imagen ya está generada; el video anima esa misma escena.\"\n      }\n    },\n    {\n      \"scene_id\": 3,\n      \"image_prompt\": \"La moneda ya detenida sobre la mesa, centrada, luz más clara, encuadre cercano, sensación de resolución y cierre.\",\n      \"video_prompt\": {\n        \"dialogue\": \"Al final caigo de un lado, pero siempre dejo a alguien pensando en lo que viene después.\",\n        \"camera\": \"Zoom suave al rostro\",\n        \"character_action\": \"La moneda sonríe con calma\",\n        \"motion\": \"Parpadeo natural y leve balanceo\",\n        \"effects\": \"Pequeño destello final\",\n        \"notes\": \"La imagen ya está generada; el video anima esa misma escena.\"\n      }\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -48,
        1024
      ],
      "id": "593eed84-3801-4815-b53b-8f262225dafc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const input = $('AI Agent').first().json;\n\n// Convertir cada escena en un item independiente\nconst items = input.output.scenes.map(scene => {\n  return {\n    json: {\n      scene_id: scene.scene_id,\n      image_prompt: scene.image_prompt,\n      video_prompt: scene.video_prompt,\n    }\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        800
      ],
      "id": "d89427ce-d82f-47ce-b8d9-a40209fb6f2a",
      "name": "Separate scenes"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zkESp5LqbDSNPWNx",
          "mode": "list",
          "cachedResultUrl": "/workflow/zkESp5LqbDSNPWNx",
          "cachedResultName": "YT - Image Style Reference"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_prompt": "={{ $('Separate scenes').item.json.image_prompt }}",
            "folder_reference_id": "={{ $('Config').item.json.style_reference_images_folder_id }}",
            "filename_output": "=image_scene_{{ $('Separate scenes').item.json.scene_id }}",
            "folder_output_id": "={{ $('Create images folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "folder_reference_id",
              "displayName": "folder_reference_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "filename_output",
              "displayName": "filename_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "folder_output_id",
              "displayName": "folder_output_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        416
      ],
      "id": "4db2ab95-3427-4682-a402-3103d6fe8833",
      "name": "Call 'YT - Image Style Reference'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ThOe83bae2jvLI4f",
          "mode": "list",
          "cachedResultUrl": "/workflow/ThOe83bae2jvLI4f",
          "cachedResultName": "YT - Image to Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('Separate scenes').item.json.video_prompt.toJsonString() }}",
            "image_id": "={{ $('Call \\'YT - Image Style Reference\\'').item.json.output.id }}",
            "folder_output_id": "={{ $('Create videos folder').item.json.id }}",
            "filename_output": "=video_scene_{{ $('Separate scenes').item.json.scene_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_id",
              "displayName": "image_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "filename_output",
              "displayName": "filename_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folder_output_id",
              "displayName": "folder_output_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        416
      ],
      "id": "1dc84229-295c-45c8-9483-7ba9aeabe571",
      "name": "Call 'YT - Video from Image'",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        240
      ],
      "id": "35a602fe-57a8-4092-a9d5-f7855f6c2e46",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## Config",
        "height": 496,
        "width": 656,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        160
      ],
      "typeVersion": 1,
      "id": "e362f8ed-83a0-4c70-af02-6145cc3152be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Generate Scenes",
        "height": 496,
        "width": 656,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        704
      ],
      "typeVersion": 1,
      "id": "7b1cafec-203f-472c-b305-af9f308485c7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Content",
        "height": 496,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        160
      ],
      "typeVersion": 1,
      "id": "8aac4292-8c3a-4e4a-bc29-4fb2b0ab43f0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        256
      ],
      "id": "dd7f6989-188a-4319-b5ac-eedcc01ed3b4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Config').item.json.folder_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Config').item.json.ideas_hub_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        256
      ],
      "id": "35fab260-8067-4817-9ce5-18df0491ea92",
      "name": "Create idea folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=images",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        480
      ],
      "id": "3bf2d0e3-40b2-466b-91aa-90072bbcd2d6",
      "name": "Create images folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=videos",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        480
      ],
      "id": "a8466ad4-567a-41f6-b394-7204567807a2",
      "name": "Create videos folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=final_video",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create idea folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        480
      ],
      "id": "d94e7a1b-912c-4a00-a629-dc4aa8cb2799",
      "name": "Create final video folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o9FsD2lBiUwRPODM",
          "name": "Hans Acha Brand - Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🎭 Stories with Animated Objects (IA)\n\nFlujo que genera **historias animadas cortas con objetos**, optimizadas para Shorts/Reels. Automatiza storyboard → imágenes → animación → video final.\n\n\n\n### ⚙️ Configuración rápida\n\n1. Configura credenciales de **Google Gemini** y **Google Drive**\n2. En el nodo **Config**, define:\n* `idea` → concepto de la historia\n* `folder_name` → nombre del proyecto\n* `style_reference_images_folder_id` → carpeta de estilo visual\n👉 Cambiar la idea = nueva historia automática.\n\n\n### 🤖 AI Agent (editable)\n\nEl agente actual genera:\n* Historia de **3 escenas conectadas**\n* Imagen + diálogo + animación por escena\nPuedes modificar el prompt para crear:\n* Más escenas\n* Otros géneros narrativos\n* Educación / humor / sketches\n* Personajes distintos (no solo objetos)\nEl resto del flujo no necesita cambios.\n\n\n### 🧠 Qué hace el flujo\n* Convierte una idea en storyboard\n* Genera imágenes con style reference\n* Anima cada escena\n* Une todo en un video final\n100% automático.\n\n\n###  📺 Guía en video\n👉 [https://youtu.be/xxxxxx](https://youtu.be/xxxxxx)\n\n🔔 Más automatizaciones\n👉 [https://www.youtube.com/@Hans-Acha](https://www.youtube.com/@Hans-Acha)\n",
        "height": 944,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        160
      ],
      "typeVersion": 1,
      "id": "01fbe5a6-ad05-4211-af43-8f717b6af5e4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Tq4JI39TBeORDFMy",
          "mode": "list",
          "cachedResultUrl": "/workflow/Tq4JI39TBeORDFMy",
          "cachedResultName": "YT  - FFmpeg - Combine Videos Simple"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input_folder_id": "={{ $('Create videos folder').item.json.id }}",
            "output_folder_id": "={{ $('Create final video folder').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input_folder_id",
              "displayName": "input_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output_folder_id",
              "displayName": "output_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        240
      ],
      "id": "ea348904-f329-4fe6-b050-4d23211098e3",
      "name": "Call 'YT  - FFmpeg - Combine Videos Simple'"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Create idea folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Separate scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Separate scenes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - Image Style Reference'": {
      "main": [
        [
          {
            "node": "Call 'YT - Video from Image'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YT - Video from Image'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Call 'YT  - FFmpeg - Combine Videos Simple'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'YT - Image Style Reference'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create idea folder": {
      "main": [
        [
          {
            "node": "Create images folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create images folder": {
      "main": [
        [
          {
            "node": "Create videos folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create videos folder": {
      "main": [
        [
          {
            "node": "Create final video folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create final video folder": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67d0483c-c54d-4516-9cd5-02f01db54140",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8b926503e69b4d6452ef4997e517f018d779566da930bb3e134ea773821cffd"
  },
  "id": "A96Zxe45qxWRjFRP",
  "tags": []
}